<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Address</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                                <f:link.action action="personList">
                                    Persons
                                </f:link.action>
                                </li>
                                <li class="panel-link{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                                <f:link.action action="companyList">
                                    Companies
                                </f:link.action>
                                </li>

                            </ul>

                            <ul class="pull-right">
                                <li class="panel-link">
                                <f:link.action action="personNew">
                                    <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Person" />
                                </f:link.action>
                                </li>
                            </ul>



                        </div>

                        <div class="panel-body">
                            <div class="col-md-12">&nbsp;</div>
                            <f:for each="{persons}" as="person" iteration="iter">

                                <div class="pat-list-item clearfix {f:if(condition: '{iter.isEven} == 1', then: ' even', else: ' odd')}">


                                    <f:link.action action="personEdit" arguments="{person: person.uid}">
                                        <div class="pat-list-cell cell-first cell-50">
                                            
                                        </div>
                                        <div class="pat-list-cell cell-200">
                                            {person.firstName} {person.lastName} 
                                        </div>
                                    </f:link.action>
                                    <div class="pat-list-cell cell-200">
                                        {person.username}
                                    </div>


                                </div>

                            </f:for>
                        </div>



                    </div>
                </div>

            </div>
        </div>

       

    </div>


</f:section>