{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <h2>Booked Time</h2>

        <div class="stage-navi clearfix" style="height: 1600px;">

            <div class="stage-navi-navi">
                <ul>
                    <li class="{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                    <f:link.action action="timeMonth">
                        Actual Month
                    </f:link.action>
                    </li>
                    <!--
                    <li class="{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                    <f:link.action action="allProjectsByNum">
                        Week
                    </f:link.action>
                    </li>

                    <li class="{f:if(condition: '{mainmenu} == 3', then: ' active')}">
                    <f:link.action action="allProjectsByArchive" arguments="{uid: project.uid}">
                        Month
                    </f:link.action>
                    </li>
                    <li class="active">
                        Today
                    </li>
                    -->
                </ul>
                <ul class="right">
                    <li>
                        <!--
                    <f:link.action action="projectNew">
                        <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Project" />
                    </f:link.action>
                        -->
                    </li>
                </ul>

            </div>


            <div class="pat-list clearfix">
                <br />

                <h3>&nbsp;&nbsp;Booked Time Sheet</h3>
                <div class="timetable">
                    <div class="timetable-cell-header clearfix timetable-border">
                        <div class="timetable-cell-date">
                            &nbsp;
                        </div>
                    </div>
                    <div class="timetable-cell-header clearfix timetable-border">
                        <div class="timetable-cell-date">
                            Mo
                        </div>
                    </div>
                    <div class="timetable-cell-header clearfix timetable-border">
                        <div class="timetable-cell-date">
                            Di
                        </div>
                    </div>
                    <div class="timetable-cell-header clearfix timetable-border">
                        <div class="timetable-cell-date">
                            Mi
                        </div>
                    </div>
                    <div class="timetable-cell-header clearfix timetable-border">
                        <div class="timetable-cell-date">
                            Do
                        </div>
                    </div>
                    <div class="timetable-cell-header clearfix timetable-border">
                        <div class="timetable-cell-date">
                            Fr
                        </div>
                    </div>
                    <div class="timetable-cell-header clearfix timetable-border">
                        <div class="timetable-cell-date">
                            Sa
                        </div>
                    </div>
                    <div class="timetable-cell-header clearfix timetable-border">
                        <div class="timetable-cell-date">
                            So
                        </div>
                    </div>

                    <f:for each="{arrayMonth}" as="week" iteration="iter">
                        <div class="timetable-cell clear">

                            <div class="timetable-cell-date">
                                Date 
                            </div>
                            <div class="timetable-cell-time">
                                Custom<br />
                                internal
                            </div>
                            <div class="timetable-cell-total">
                                total
                            </div>
                        </div>

                        <f:for each="{week}" as="day">
                            <div class="timetable-cell clearfix">
                                <div class="timetable-cell-date">
                                    &nbsp;{day.date}
                                </div>
                                <div class="timetable-cell-time timetable-border">
                                    <div>&nbsp;
                                        <f:if condition="{day.bookedtime.custom} >0">
                                            <vh:time time="{day.bookedtime.custom}"  />
                                        </f:if>
                                    </div>
                                    <div>
                                        <f:if condition="{day.bookedtime.internal} >0">
                                            <vh:time time="{day.bookedtime.internal}"  />
                                        </f:if>
                                    </div>
                                </div>
                                <div class="timetable-cell-total">
                                    <f:if condition="{day.bookedtime.total} >0">
                                        <vh:time time="{day.bookedtime.total}"  />
                                    </f:if>
                                </div>
                            </div>
                        </f:for>

                    </f:for>


                </div>

            </div>
        </div><!-- end main Frame -->

</f:section>