{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Booked Time</h2>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <f:link.action action="timeMonth">
                                    <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                                        Month
                                    </li>
                                </f:link.action>
                                
                                <f:link.action action="timeDay">
                                    <li class="panel-link{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                                        Day
                                    </li>
                                </f:link.action>
                            </ul>

                            <ul class="pull-right">
                                <f:link.action action="timeMonth" arguments="{date: monthNavi.prev}">
                                <li class="panel-link">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                </li>
                                </f:link.action>
                                <li class="panel-link">
                                    <f:format.date format="M Y">@{monthNavi.actual}</f:format.date>
                                </li>
                                <f:link.action action="timeMonth" arguments="{date: monthNavi.next}">
                                <li class="panel-link">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </li>
                                </f:link.action>
                            </ul>

                        </div>

                        <div class="panel-body">

                            <h5>&nbsp;&nbsp;Booked Time Sheet</h5>
                            <div class="row">
                                
                                <div class="col-md-2">
                                    
                                </div>
                                 <div class="col-md-1 text-center">
                                    Mo
                                </div>
                                 <div class="col-md-1 text-center">
                                    Di
                                </div>
                                 <div class="col-md-1 text-center">
                                    Mi
                                </div>
                                 <div class="col-md-1 text-center">
                                    Do
                                </div>
                                 <div class="col-md-1 text-center">
                                    Fr
                                </div>
                                 <div class="col-md-1 text-center">
                                    Sa
                                </div>
                                <div class="col-md-1 text-center">
                                    So
                                </div>
                            </div>
                            
                            <f:for each="{arrayMonth}" as="week" iteration="iter">
                                    <div class="row">
                                        <div class="col-md-2 text-right">
                                            <div class="timetable-cell-date">
                                                Date 
                                            </div>
                                            <div class="timetable-cell-time">
                                                Custom<br />
                                                internal
                                            </div>
                                            <div class="timetable-cell-total">
                                                total
                                            </div>
                                        </div>

                                        <f:for each="{week}" as="day">
                                            <div class="col-md-1 timetable-row">
                                                <div class="timetable-cell-date">
                                                    <f:link.action action="timeDay" arguments="{date: day.date}">
                                                        &nbsp;{day.date}
                                                    </f:link.action>
                                                </div>
                                                <div class="timetable-cell-time timetable-border">
                                                    <div class="text-right">&nbsp;
                                                        <f:if condition="{day.bookedtime.custom} >0">
                                                            <vh:time time="{day.bookedtime.custom}"  />
                                                        </f:if>
                                                        &nbsp;&nbsp;
                                                    </div>
                                                    <div class="text-right">&nbsp;
                                                        <f:if condition="{day.bookedtime.internal} >0">
                                                            <vh:time time="{day.bookedtime.internal}"  />
                                                        </f:if>
                                                        &nbsp;&nbsp;
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <f:if condition="{day.bookedtime.total} >0">
                                                        <b><vh:time time="{day.bookedtime.total}"  /></b>
                                                    </f:if>
                                                    &nbsp;&nbsp;
                                                </div>
                                            </div>
                                        </f:for>
                                    </div>
                                <div class="row"><p>&nbsp;</p></div>
                                </f:for>


                            </div>
                        </div>



                    </div>
                </div>

            </div>



    </div><!-- end main Frame -->

</f:section>