 {namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
   /* Partial widget Messages
    * The widget displays a list of messages 
    * param {messages}
    *
    * Version 1.0.1 Build 22.6.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>


<f:for each="{messages}" as="message">
    <div class="widget-list-item">
        <div class="widget-list-item-icon">
            <f:image src="uploads/pat/icon.gif" width="18"  alt="My Image" />
        </div>
        <div class="widgte-list-item-title">
            <f:link.action action="messageEdit" controller="Message"arguments="{messageUid: message.uid}">
                {message.messageTitle}
            </f:link.action>
        </div>

        <div class="widget-list-item-field small">
            {message.messageSender.username}
        </div>
        
        <div class="widget-list-item-field normal">
            <f:format.date format="d.m.Y">{message.messageDate}</f:format.date>
        </div>
    </div>
</f:for>    

<br>
