 {namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
   /* Partial widget ToDos
    * Displays a List of Todos
    *
    * @param {todos}
    *
    * Version 1.0.1 Build 5.7.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>


<f:for each="{todos}" as="item">
    <div class="widget-list-item">
        <div class="widget-list-item-icon">
            <vh:todotype typ="{item.todoTyp}" status="{item.todoStatus}" />
        </div>
        <div class="widgte-list-item-title">
            <f:link.action action="todoEdit" controller="Todo"arguments="{todo: item.uid}">
                {item.todoNr} | {item.todoTitle}
            </f:link.action>
        </div>

        <div class="widget-list-item-field normal">
            {item.todoAssigned.firstName}
        </div>
         <div class="widget-list-item-field small">
            <vh:plantime time="{item.todoPlantime}" /> h 
        </div>
    </div>
</f:for>    

