
<div id="pat">
    <div class="stage">
        <h1>Neues Projekt anlegen:</h1>
        <f:form method="post" controller="Project" action="projectCreate" name="project" object="{Project}"   >

            <div class="stageItemTable">

                <!--hidden fields -->
     

                <!-- regular Fields -->




                <div class="stageItemTableLabel">
                    Project Titel
                </div>
                <div class="stageItemTableContent">
                    <f:form.textfield property="projectTitle" value="{project.projectTitle}" class="fullWidth" />
                </div>
                <div class="stageItemTableDivider"></div>

                <div class="stageItemTableLabel">
                    Kurztext
                </div>
                <div class="stageItemTableContent">
                    <f:form.textarea  cols="45" rows="3" property="projectShort" value="{project.projectShort}" />
                </div>
                <div class="stageItemTableDivider"></div>

                <div class="stageItemTableLabel">
                    Beschreibung
                </div>
                <div class="stageItemTableContent">
                    <f:form.textarea cols="45" rows="3" property="projectText" value="{project.projectText}" />
                </div>
                <div class="stageItemTableDivider"></div>


            </div>




            <div class="formrow buttonrow">

                <input type="button"  class="button lightbox-close" value="abbrechen"  />
                <f:form.submit name="mySubmit" value="speichern" class="button" />

                <input type="button"  class="button lightbox-close" value="schließen"  />

            </div>
        </f:form>
    </div></div>

