{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}   

<f:for each="{works}" as="work">
    <div class="projectListItem">
        <div class="status hidden">
            {work.workStatus}
        </div>
        <div class="listIcon">
            <f:if condition="{work.workStatus} == 1">
            <f:image src="EXT:projects_and_tasks/Resources/Public/Icons/icon_invoice_closed.png" width="16" height="16" alt="My Image" />
            </f:if>
            <f:if condition="{work.workStatus} == 5">
            <f:image src="EXT:projects_and_tasks/Resources/Public/Icons/icon_invoice_open.png" width="16" height="16" alt="My Image" />
            </f:if>
            <f:if condition="{work.workStatus} == 6">
            <f:image src="EXT:projects_and_tasks/Resources/Public/Icons/icon_invoice_closed.png" width="16" height="16" alt="My Image" />
            </f:if>
        </div>
        <div class="listLeistungTitel">
            <f:link.action action="workEdit" controller="Work"arguments="{work:work.uid}">
                {work.workTitle}
            </f:link.action>
        </div>
        <div class="listTodoText">
            <f:format.crop maxCharacters="60" append="&nbsp;[...]">{work.workDescription}</f:format.crop>
        </div>
        <div class="listTodoAssigned">
            {work.workUser.firstName}
        </div>
        <div class="listTodoTime">
             <vh:worktime start="{work.workStart}" end="{work.workEnd}"/>
        </div>
                <div class="listTodoDate">
           <f:format.date format="d.m.Y">{work.workDate}</f:format.date>
        </div>
    </div>
</f:for>
