
<div class="stage-sub-menu">

<div class="{f:if(condition:'{submenu}==1',then:'item selected',else:'item')}">
    <div class="jqHandler jqShowAllWork">
        show All
    </div>
</div>
<div class="{f:if(condition:'{submenu}==2',then:'item selected',else:'item')}">
    <div class="jqHandler jqHideInvoiceWork">
        show Open
    </div>
</div>
<div class="{f:if(condition:'{submenu}==3',then:'item selected',else:'item')}">
    <f:link.action action="showPdf" controller="Todo" arguments="{todolist: todolist.uid}">
        write pdf (not work)
    </f:link.action>
</div>
    <div class="{f:if(condition:'{submenu}==3',then:'item selected',else:'item')}">
        <div class="jqHandler jqShowForm">
            new Leistung
        </div>
    
</div>
</div>