<f:form action="settingsRightsSave" name="rightsGroup" object="{rightsGroup}" class="form-horizontal">

    <div class="col-md-12"><h4>Edit User Rights Group</h4></div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-7">

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Group Name</label>
            <div class="col-sm-10">
                <f:form.textfield property="rightName" value="{rightsGroup.rightName}" class="form-control" placeholder="Name"/>
            </div>
        </div>

        <hr>
        <!-- InBox Menu -->
        <h4>InBox Menu</h4>
        
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Fields</label>
            <div class="col-sm-8">
                <label class="checkbox-inline">
                    
                </label>
            </div>
        </div>
        
        <hr>
        <!-- Project Menu -->
        <h4>
            <f:form.checkbox property="showProjectMenu" value="1" checked="{rightsGroup.showProjectMenu} == 1" />
            &nbsp; Projects Menu
        </h4>
        
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Fields</label>
            <div class="col-sm-8">
                <label class="checkbox-inline">
                    
                </label>
            </div>
        </div>
        
        <hr>
        
        <!-- Tickets menu -->
        <h4>
            <f:form.checkbox property="showTicketMenu" value="1" checked="{rightsGroup.showTicketMenu} == 1" />
            &nbsp; Tickets Menu
        </h4>
        
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Fields</label>
            <div class="col-sm-8">
                <label class="checkbox-inline">
                    
                </label>
            </div>
        </div>
        
        <hr>
        
        <!-- Time Menu -->
        <h4>
            <f:form.checkbox property="showTimeMenu" value="1" checked="{rightsGroup.showTimeMenu} == 1" />
            &nbsp; Time Menu
        </h4>
        
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Fields</label>
            <div class="col-sm-8">
                <label class="checkbox-inline">
                    
                </label>
            </div>
        </div>
        
        <hr>
        
        <!-- Address menu -->
        <h4>
            <f:form.checkbox property="showAddressMenu" value="1" checked="{rightsGroup.showAddressMenu} == 1" />
            &nbsp; Address Menu
        </h4>
        
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Fields</label>
            <div class="col-sm-8">
                <label class="checkbox-inline">
                    
                </label>
            </div>
        </div>

        <hr>
        
        <!-- Whiteboard menu -->
        <h4>
            <f:form.checkbox property="showWhiteboardMenu" value="1" checked="{rightsGroup.showWhiteboardMenu} == 1" />
            &nbsp; Whiteboard Menu
        </h4>
        
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Fields</label>
            <div class="col-sm-8">
                <label class="checkbox-inline">
                    
                </label>
            </div>
        </div>

        <hr>
        
        <!-- Settings menu -->
        <h4>
            <f:form.checkbox property="showSettingMenu" value="1" checked="{rightsGroup.showSettingMenu} == 1" />
            &nbsp; Settings Menu
        </h4>
        
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Fields</label>
            <div class="col-sm-8">
                <label class="checkbox-inline">
                    
                </label>
            </div>
        </div>

        <hr>
        
        
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <f:form.submit value="   save    " class="btn btn-primary"/>
            </div> 
        </div>

    </div>

</f:form>