{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}

<div class="pat-list">
    <div class="pat-list-item clearfix ">
        <b>&nbsp; </b>
    </div>
    
    <f:for each="{board}" as="cat">
        <div class="pat-list-item clearfix ">
            <div class="pat-list-cell cell-bold cell-700">
                {cat.cat.bcTitle}
            </div>
        </div>

        <f:for each="{cat.topics}" as="topic" iteration="iter">
            <div class="pat-list-item clearfix even">
                <f:link.action action="whiteboardShowTopic" controller="Whiteboard" arguments="{topicUid: topic.uid}">
                    <div class="pat-list-cell cell-first cell-50">
                        &nbsp;
                    </div>

                    <div class="pat-list-cell cell-75">
                        <f:format.date format="d.m.Y">{topic.btDate}</f:format.date>
                    </div>

                    <div class="pat-list-cell cell-bold cell-400">
                        {topic.btTitle}
                    </div>
                    <div class="pat-list-cell cell-50">
                        <span class="badge">{topic.btMessages}</span>
                    </div>
                    <div class="pat-list-cell cell-400">
                        <f:format.date format="d.m.Y">{topic.btLastMessage.bmDate}</f:format.date> {topic.btLastMessage.bmTitle} 
                    </div>
                    <div class="pat-list-cell cell-100">
                        {topic.btLastMessage.bmUser.username}
                    </div>
                </f:link.action>


            </div>
        </f:for>

        <div class="pat-list-item clearfix even">
            <div class="pat-list-cell cell-first cell-50">
                &nbsp;
            </div>

            <div class="pat-list-cell cell-75">
                &nbsp;
            </div>

            <div class="pat-list-cell cell-400">
                <f:link.action action="whiteboardTopicAdd" arguments="{catUid: cat.cat.uid}">
                    add Topic ...
                </f:link.action>
            </div>

        </div>

    </f:for>

  

</div>






