<f:form action="whiteboardMessageSave" name="newmessage" object="{newmessage}" class="form-horizontal">

    <div class="col-md-12">
        <br />
        <p>Edit Message:</p>
    </div>  

    <div class="col-md-12">

        <f:form.hidden property="bmTopic" value="{newmessage.bmTopic}" />

        <div class="form-group">
            <label for="Titel" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-8">
                <f:form.textfield property="bmTitle" value="{newmessage.bmTitle}" class="form-control" placeholder="Title"/>
            </div>
        </div>

        <div class="form-group">
            <label for="Titel" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-8">
                <f:form.textarea cols="50" rows="10" property="bmText" value="{newmessage.bmText}" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="Titel" class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-8">
                <f:form.submit value="save" class="btn btn-primary"/>
            </div>
        </div>

    </div>
</f:form>



