<f:form action="whiteboardCatSave" name="cat" object="{cat}" class="form-horizontal">
    
    <div class="col-md-12">
        <p>New Category:</p>
    </div>  

<div class="col-md-7">
    
    <div class="form-group">
        <label for="Titel" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
            <f:form.textfield property="bcTitle" value="{cat.bcTitle}" class="form-control" placeholder="Category"/>
        </div>
    </div>
    
    
    
</div>

<div class="col-md-1"></div>

<div class="col-md-4">
    
    
    
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        
     <f:form.submit value="   save    " class="btn btn-primary"/>
        
    </div>
    

</div>

</f:form>