<ul class="pull-left">
    <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
    <f:link.action action="whiteboardOverview">
        Topics
    </f:link.action>
</li>
</ul>


<ul class="pull-right">
    <li class="panel-link">
    <f:if condition="{link}">
        <f:then>
            <f:link.action action="whiteboardOverview">
                <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_close.png" width="17" height="17" alt="close" />
            </f:link.action>
        </f:then>
        <f:else>
            <f:link.action action="whiteboardCatAdd">
                <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Topic" />
            </f:link.action>
        </f:else>
    </f:if>
</li>
</ul>


