{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">


    <div class="stage">
        
        <f:render partial="Inbox/InboxHeader" arguments="{_all}" />

        <!------------------------------------------------------------------------------>
        <br />
        <div class="inbox-left">
            <h2>Neue Nachrichten</h2> 
        </div>
        <div class="inbox-right">
            <!-- stage right: projekte -->
            <f:render partial="Inbox/WidgetProjects" arguments="{_all}" />
        </div>
        <br>
        <h2>Neue Nachrichten</h2>
        <div class="projectListItem">
            <f:image src="uploads/pat/icon.gif" width="18"  alt="My Image" class="listIcon"/>
            Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
        </div>
        <div class="projectListItem">
            Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
        </div>       
        <div class="projectListItem">
            Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
        </div>
        <div class="projectListItem">
            Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
        </div>
        Fussnote & Link -> alle anzeigen
        <br>

        <br /><br />
        <h2>Projekte</h2>






        <br ><br>
        <h2>ToDos aus allen Listen:</h2>

        <br>
        • Edit Form für Todos erstellen
        <br>
        • Zeiterfassung einbauen
        <br>
        • single Project Seite mit TABs -> Gespäche | ToDos | Time | Fakturiert
        <br>
    </div>


</f:section>