{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
    /**
    * INBOX: Project List
    *
    * Shows all open projects of the loggedin User with links to project
    *
    * @param {projects} A special Array of projects an open todos
    *
    * Version 1.0.1 Build 27.8.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>

<f:layout name="Default" />

<f:section name="main">


    <div class="stage">

        <f:render partial="Inbox/InboxHeader" arguments="{_all}" />

        <!------------------------------------------------------------------------------>
        <br />




        <!-- stage right: projekte -->
        <h2>Projekte</h2>
        <br />
        <f:render partial="Inbox/ProjectListSubMenu" arguments="{_all}" />

        <f:render partial="Inbox/ProjectList" arguments="{_all}" />

        <br>
        <div class="project-stage-left">
        </div>
        <div class="project-stage-right">
            <f:link.action action="projectNew" controller="Project" class="button">
                new Project
            </f:link.action>
        </div>











    </div>


</f:section>