{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">


    <div class="stage">

        <f:render partial="Inbox/InboxHeader" arguments="{_all}" />

        <!------------------------------------------------------------------------------>
        <br />

        <div class="inbox-left">
            <h2>Aktuelle Woche</h2>
            <div class="inbox-list-work">
                <f:for each="{work.week}" as="day">
                    <div class="inbox-list-work-titel">
                        <f:format.date format="D, d.m" >{day.date}</f:format.date>
                    </div>
                    <f:for each="{day.results}" as="item">
                        <div class="inbox-list-work-item">
                            <div class="inbox-list-work-title">
                                {item.workTitle}
                            </div>
                            <div class="inbox-list-work-project">
                                {item.workProject.projectTitle}
                            </div>
                            <div class="inbox-list-work-status">
                                <f:if condition="{0:item.workStatus}=={0:'5'}">
                                    +
                                </f:if>
                            </div>
                            <div class="inbox-list-work-time">
                                <vh:worktime start="{item.workStart}" end="{item.workEnd}"/>
                            </div>
                        </div>
                    </f:for>
                    <br/>
                </f:for>
            </div>
        </div>

        <div class="inbox-right">
            <!-- stage right: projekte -->
            <h2>aktueller Monat</h2>
            <div class="inbox-list-work">
                <div class="inbox-list-work-item">
                    <div class="inbox-list-work-title">
                        Intern
                    </div>
                    <div class="inbox-list-work-project"></div>
                    <div class="inbox-list-work-status">
                        +
                    </div>
                    <div class="inbox-list-work-time">
                        <vh:plantime time="{work.actualMonth.internal}" />
                    </div>
                </div>

                <div class="inbox-list-work-item">
                    <div class="inbox-list-work-title">
                        Kundenzeiten
                    </div>
                    <div class="inbox-list-work-project"></div>
                    <div class="inbox-list-work-status">
                        +
                    </div>
                    <div class="inbox-list-work-time">
                        <vh:plantime time="{work.actualMonth.custom}" />
                    </div>
                </div>

                <div class="inbox-list-work-item">
                    <div class="inbox-list-work-title">
                        Total
                    </div>
                    <div class="inbox-list-work-project"></div>
                    <div class="inbox-list-work-status">
                        {work.actualMonth.percent}%
                    </div>
                    <div class="inbox-list-work-time">
                        <vh:plantime time="{work.actualMonth.total}" />
                    </div>
                </div>

            </div>
            <br>

            <h2>Vormonat</h2>
            <br />
            <br />
            <h2>Jahr</h2>
            <p>
            grafische Übersicht
            Monatskalkulation splitten in %Custom Work 
            von Gesamtmonat und eingetragenen zeiten. Kann durchaus 2-Spaltig sein.
            </p>




        </div>


</f:section>