<f:layout name="Default" />

<f:section name="main">

    <div class="stage">
        <h1>Log in</h1>


       


            <form class=""
                  action="{f:uri.action(controller:settings.loginRedirectController, action:settings.loginRedirectAction)}"
                  method="post" onsubmit="{onSubmit}">
                <fieldset>

                    <ptextbase:flashMessages renderMode="div"
                                             messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}"/>


                    <input type="text" id="user" name="user"  placeholder="BENUTZERNAME"/>

                    <input type="password" id="pass" name="pass"  placeholder="PASSWORD"/>


                    
                        <input id="button" type="submit" name="submit" value="OK"/>
                    

                    <div class="felogin-hidden">
                        <input type="hidden" name="logintype" value="login"/>
                        <input type="hidden" name="id" value="{currentPid}"/>
                        <input type="hidden" name="redirect_url" value="{currentPid}"/>
                        <input type="hidden" name="pid" value="{storagePid}"/>
                        <f:format.html parseFuncTSPath="">{extraHidden}</f:format.html>
                    </div>
                </fieldset>
            </form>    


</f:section>