<f:layout name="Default" />

<f:section name="main">

    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4">
                    <h2>Login</h2>
                    <form class="pat-login"
                          action="{f:uri.action(controller:settings.loginRedirectController, action:settings.loginRedirectAction)}"
                          method="post" onsubmit="{onSubmit}">

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Username</span>
                                <input type="text" class="form-control" placeholder="Username" id="user" name="user" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Passwort&nbsp;</span>
                                <input type="password" id="pass" name="pass"  placeholder="password" class="form-control"/>
                            </div>
                        </div>

                        <div class="hidden">
                            <input type="hidden" name="logintype" value="login"/>
                            <input type="hidden" name="id" value="{currentPid}"/>
                            <input type="hidden" name="redirect_url" value="{currentPid}"/>
                            <input type="hidden" name="pid" value="{storagePid}"/>
                            <f:format.html parseFuncTSPath="">{extraHidden}</f:format.html>
                        </div>
                        
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary active">absenden</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-4"></div>
            </div>

        </div>
    </div>

</f:section>