{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
    /* Partial Admin Header
    * All datas were collected in the function "xxx" in ProjectController
    *
    * Version 1.0.1 Build 2.9.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>

<h1>System</h1>
<h3>&nbsp;</h3>
<div class="stage-header-shield">

    <div class="stage-header-menu">
        <div class="{f:if(condition:'{menu}==1',then:'item selected',else:'item')}">
            <f:link.action action="index" controller="Admin">
                User
            </f:link.action>
        </div>


        <div class="{f:if(condition:'{menu}==2',then:'item selected',else:'item')}">
            <f:link.action action="index" controller="Admin">
                Settings
            </f:link.action>
        </div>

        
        


    </div>
    <div class="stage-header-decription">

        <p>Header inhalt<br>
           blabla
        </p>
    </div>
</div>