{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
   /**
    * Admin: Userlist
    *
    * Shows all system user
    *
    * @param {users} 
    *
    * Version 1.0.2 Build 2.9.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>

<h2>User</h2>

        <f:for each="{users}" as="use">
            <br />
            <div class="projectListItem">
                <div class="listTodoTitle" style="font-size:120%;">
                    {use.username}
                </div>
            </div>
            
            <f:for each="{item.todos}" as="todo">
                <f:link.action action="todoShow" controller="Project" arguments="{todolist:todo.todoList}">
                    
                    <div class="projectListItem general-row-link">
                        <div class="status hidden">
                            {todo.todoStatus}
                        </div>
                        <div class="listIcon">
                            <vh:todotype typ="{todo.todoTyp}" status="{todo.todoStatus}" />
                        </div>
                        <div class="listTodoTitle">
                            {todo.todoNr} | {todo.todoTitle}
                        </div>
                        <div class="listTodoText">
                            <f:format.crop maxCharacters="60" append="&nbsp;[...]">{todo.todoDescription}</f:format.crop>
                        </div>
                        <div class="listTodoAssigned">
                            {todo.todoAssigned.firstName}
                        </div>
                        <div class="listTodoTime">
                            <vh:plantime time="{todo.todoPlantime}" />
                        </div>
                        <div class="listTodoDate">
                            <f:format.date format="d.m.Y">{todo.todoDate}</f:format.date>
                        </div>
                    </div>
                </f:link.action>
            </f:for>   
        </f:for>