<f:form method="post" controller="PlanBoard" action="bugUpdate" name="bug" object="{bug}"   >

    <div class="stageItemTable">

        <!--hidden fields -->
        <div class="stageItemTableContent hidden">
            <f:form.textfield id="jqBugFormUid" property="bug.uid" value="{bug.uid}" class="xhidden" />  
        </div>
        
        <div class="stageItemTableContent hidden">
            <f:form.textfield id="jqBugFormPlan" property="bug.bugPlan" value="{bug.bugPlan}" class="w300" />
        </div>
        <div class="stageItemTableDivider"></div>
        
        <!-- regular Fields -->
        <div class="stageItemTableLabel">
            Bug No / Ref.
        </div>
        <div class="stageItemTableContent">
            <f:form.textfield id="jqBugFormNo" property="bug.bugNo" value="{bug.bugNo}" class="w300" />
            <f:form.textfield id="jqBugFormReferenz" property="bug.bugReferenz" value="{bug.bugReferenz}" class="w300" />
      
        </div>
        <div class="stageItemTableDivider"></div>

        
        
        <div class="stageItemTableLabel">
            Bug Titel
        </div>
        <div class="stageItemTableContent">
            <f:form.textfield id="jqBugFormTitel" property="bug.bugTitle" value="{bug.bugTitle}" class="fullWidth" />
        </div>
        <div class="stageItemTableDivider"></div>
        
        <div class="stageItemTableLabel">
            Beschreibung
        </div>
        <div class="stageItemTableContent">
            <f:form.textarea  id="jqBugFormDescription" cols="45" rows="3" property="bug.bugDescription" value="{bug.bugDescription}" />
         </div>
        <div class="stageItemTableDivider"></div>
        
        <div class="stageItemTableLabel">
            Comment
        </div>
        <div class="stageItemTableContent">
            <f:form.textarea  id="jqBugFormComment" cols="45" rows="3" property="bug.bugComment" value="{bug.bugComment}" />
        </div>
        <div class="stageItemTableDivider"></div>
        
        <div class="stageItemTableLabel">
            Type / Status
        </div>
        <div class="stageItemTableContent">
           <f:form.textfield id="jqBugFormType" property="bug.bugType" value="{bug.bugType}" class="w300" />
           <f:form.textfield id="jqBugFormStatus" property="bug.bugStatus" value="{bug.bugStatus}" class="w300" />
        </div>
        <div class="stageItemTableDivider"></div>
        
        <div class="stageItemTableLabel">
            Time 
        </div>
        <div class="stageItemTableContent">
           <f:form.textfield id="jqBugFormTime" property="bug.bugTime" value="{bug.bugTime}" class="w300" />
        </div>
        <div class="stageItemTableDivider"></div>

    </div>




    <div class="formrow buttonrow">

        <input type="button"  class="button lightbox-close" value="abbrechen"  />
        <f:form.submit name="mySubmit" value="speichern" class="button" />

        <input type="button"  class="button lightbox-close" value="schließen"  />

    </div>
</f:form>