<div class="stage">
    <div id="jqStagetitle" class="stagenav">Plan: Titel </div>

    <div class="leftStage">
        
        <div class="stageItem">
            <div class="stageItemTop">
                <div class="stageItemTopText">
                    Shorttext
                </div>
            </div>
            
            <div class="stageItemContent" id="">
                <f:form>
                <f:form.textfield id="jqPlanShort" class="jqSendPlanForm" property="plan.short" value="{plan.short}" />
   
            </div>
        </div>
        
        <div class="stageItem">
            <div class="stageItemTop">
                <div class="stageItemTopText">
                    PlanText
                </div>
            </div>
            
            <div class="stageItemContent"id ="">
                
                <f:form.textarea  id="jqPlanText" class="jqSendPlanForm dynamisch" cols="80" rows="8" property="planDescription" value="{bplanDescription}" />
                </f:form>
            </div>
        </div>

        <f:render partial="PlanBoard/StageTabs" arguments="{_all}" />
        

    </div>    
    
    <div class="rightStage">
        
         <div class="stageItem">
             <div class="stageItemTop">
                <div class="stageItemTopText">
                    Shorttext
                </div>
            </div>
            
            <div class="stageItemTable">
                <div class="stageItemTableLabel">
                    label
                </div>
                <div class="stageItemTableContent">
                 Hier steht mein Text   
                </div>
                <div class="stageItemTableDivider"></div>
            </div>
         </div>
        
        <!-- Bug Formular -->
         
        
        
        </div>       
        
    </div>

<div id="jqPlanUid">id</div>





     
