<ul class="pull-left">

    <f:link.action action="ticketListDate">
        <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
            Open by Date
        </li>
    </f:link.action>

    <f:link.action action="ticketListScheduled">
        <li class="panel-link{f:if(condition: '{mainmenu} == 2', then: ' active')}">
            Open by Deadline
        </li>
    </f:link.action>

    <f:link.action action="ticketListProject" >
        <li class="panel-link{f:if(condition: '{mainmenu} == 3', then: ' active')}">
            Open by Project
        </li>
    </f:link.action>

</ul>

<ul class="pull-right">

</ul>

