<f:for each="{tickets}" as="ticket" iteration="iter">

    <div class="pat-list-item clearfix {f:if(condition: '{iter.isEven} == 1', then: ' even', else: ' odd')}">
        <f:link.action action="ticketDetail" arguments="{uid: ticket.uid}">
            <div class="pat-list-cell cell-first cell-50">
                {ticket.ticketNummer}
            </div>

            <div class="pat-list-cell cell-75">
                <f:format.date format="d.m.Y">{ticket.ticketDate}</f:format.date>
            </div>
            <div class="pat-list-cell cell-75">
                {ticket.ticketTyp.statusText}
            </div>
            <div class="pat-list-cell cell-bold cell-500">
                {ticket.ticketTitel}
            </div>
            <div class="pat-list-cell cell-100">
                {ticket.ticketAssigned.username}
            </div>
            <div class="pat-list-cell cell-100">
                {ticket.ticketSprint.sprintTitel}
            </div>
            <div class="pat-list-cell cell-100">
                <f:format.date format="d.m.Y">{ticket.ticketScheduleDate}</f:format.date>
            </div>
            <div class="pat-list-cell cell-50">
                &nbsp;
            </div>
            <div class="pat-list-cell cell-50">
                <vh:time time="{ticket.ticketScheduleTime}" />
            </div>
        </f:link.action>
        <div class="pat-list-cell cell-50">
            <f:link.action action="projectTicketDelete" arguments="{projectUid: project.uid, ticketUid: ticket.uid}" onclick="if(!confirm('Ticket löschen?')) return false;">
                <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_close.png" width="17" height="17" alt="Ticket delete" />
            </f:link.action>
        </div>






    </div>
</f:for>