<ul class="pull-left">
    <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
    <f:link.action action="ticketListDate">
        Open by Date
    </f:link.action>
</li>

<li class="panel-link{f:if(condition: '{mainmenu} == 2', then: ' active')}">
<f:link.action action="ticketListScheduled">
    Open by Deadline
</f:link.action>
</li>

<li class="panel-link{f:if(condition: '{mainmenu} == 3', then: ' active')}">
<f:link.action action="ticketListProject" >
    Open by Project
</f:link.action>
</li>



</ul>

<ul class="pull-right">

</ul>

