{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <h2>Inbox</h2>
        <div class="pat-stage-frame pat-bg-70-30 clearfix">
            <div class="pat-stage-left">
                <div class="pat-stage-inside">
                <h4>Tickets</h4>
                </div>
                <div class="pat-list">
                    <div class="pat-list-item even clearfix">
                        <div class="pat-list-cell cell-first cell-100">
                            zeile 1
                        </div>
                        <div class="pat-list-cell">
                            zeile 1
                        </div>
                    </div>
                    
                    <div class="pat-list-item odd clearfix">
                        <div class="pat-list-cell cell-first cell-100">
                            zeile 1
                        </div>
                        <div class="pat-list-cell">
                            zeile 1
                        </div>
                    </div>
                    
                    <div class="pat-list-item even clearfix">
                        <div class="pat-list-cell cell-first cell-100">
                            zeile 1
                        </div>
                        <div class="pat-list-cell">
                            zeile 1
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="pat-stage-right">
                <div class="pat-stage-inside">
                    <h4>Graph</h4>
                    <br />
                    <br />
                    <div class="pat-spacer"></div>
                    <h4>My Summary</h4>
                    <div class="pat-form-wrap">
                        <label class="w100">Open Tickets:</label>
                        {countOpenTickets}
                    </div>
                    
                    <div class="pat-form-wrap">
                        <label class="w100">Open Time:</label>
                        <vh:time time="{openTime}"  />
                    </div>
                    
                    <div class="pat-form-wrap">
                        <label class="w100">Age:</label>
                        {openAge} days
                    </div>
                    <div class="pat-spacer"></div>
                    
                    <h4>Projects</h4>
                    Project | open Ticket | open Time
                    <div class="pat-spacer"></div>
                </div>
            </div>
        </div>
        <form class="" action="{f:uri.action(controller:settings.loginRedirectController, action:settings.loginRedirectAction)}" method="post" onsubmit="{onSubmit}">

            <input id="button" type="submit" name="submit" value="abmelden" class="button"/>

            <div class="felogin-hidden">
                <input type="hidden" id="user" name="user"  placeholder="BENUTZERNAME"/>
                <input type="hidden" id="pass" name="pass"  placeholder="PASSWORD"/>
                <input type="hidden" name="logintype" value="logout"/>
                <input type="hidden" name="id" value="{currentPid}"/>
                <input type="hidden" name="redirect_url" value="{currentPid}"/>
                <input type="hidden" name="pid" value="{storagePid}"/>
                <f:format.html parseFuncTSPath="">{extraHidden}</f:format.html>
            </div>

        </form> 
    </div>


</f:section>