{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>InBox</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <div class="col-md-12">
                                <h5>My Tickets</h5>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="col-md-12">
                                <f:for each="{openTickets}" as="ticket" iteration="iter">


                                    <f:link.action action="projectTicketDetail" controller="Project" arguments="{uid: ticket.uid}" >
                                        <div class="pat-list-item clearfix {f:if(condition: '{iter.isEven} == 1', then: ' even', else: ' odd')}">
                                            <div class="pat-list-cell cell-first cell-50">
                                                {ticket.ticketNummer}
                                            </div>

                                            <div class="pat-list-cell cell-75">
                                                <f:format.date format="d.m.Y">{ticket.ticketDate}</f:format.date>
                                            </div>
                                            <div class="pat-list-cell cell-75">
                                                {ticket.ticketTyp.statusText}
                                            </div>
                                            <div class="pat-list-cell cell-400">
                                                {ticket.ticketTitel}
                                            </div>
                                            
                                            <div class="clearfix"></div>
                                            
                                            <div class="pat-list-cell cell-first cell-50">
                                                &nbsp;
                                            </div>

                                            <div class="pat-list-cell cell-75">
                                                &nbsp;
                                            </div>
                                            <div class="pat-list-cell cell-75">
                                                &nbsp;
                                            </div>
                                            <div class="pat-list-cell cell-200">
                                                {ticket.ticketProject.projectTitel}
                                            </div>
                                        </div>
                                    </f:link.action>
                                </f:for>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">

                        <div class="panel-heading clearfix">
                            <div class="col-md-12">
                                <h5>Overall Trend (all users)</h5>
                            </div>
                        </div>

                        <div class="panel-body" style="margin-left:20px;">
                            <br />

                            <div class="hidden chartDate">{statArray.date}</div>
                            <div class="hidden chartTicket">{statArray.ticket}</div>
                            <div class="hidden chartTime">{statArray.time}</div>
                            <div class="hidden chartAge">{statArray.age}</div>

                            <canvas id="myChart" width="319" height="200"></canvas>
                            <br />
                            &nbsp;&nbsp;
                            <f:image src="EXT:projects_and_tasks/Resources/Public/Images/graph-legend.png" width="268" height="16" alt="legend" />
                        </div>

                    </div>
                
                    <div class="panel panel-default">

                        <div class="panel-heading clearfix">
                            <div class="col-md-12">
                                <h5>My Summary</h5>
                            </div>
                        </div>

                        <div class="panel-body" style="margin-left:20px;">
                            <br />
                            <p><b>Open Tickets:</b> {mySummary.openTickets} </p>
                            <p><b>Open Time:</b> <vh:time time="{mySummary.openTime}"  /></p>
                            <p><b>Ticket Age:</b> {mySummary.averageAge} days</p>
                        </div>

                    </div>
                
                    <div class="panel panel-default">

                        <div class="panel-heading clearfix">
                            <div class="col-md-12">
                                <h5>My Projects</h5>
                            </div>
                        </div>

                        <div class="panel-body" style="margin-left:20px;">
                            <br />
                            <f:for each="{myProjects}" as="project">
                                <div class="pat-form-wrap">
                                    <f:link.action action="projectIndex" controller="Project" arguments="{uid: project.uid}">
                                        <p> {project.projectTitel} 
                                    </f:link.action>(leader)</p>
                                </div>
                            </f:for>
                            <f:for each="{projectMemberships}" as="member">
                                <div class="pat-form-wrap">
                                    <f:link.action action="projectIndex" controller="Project" arguments="{uid: member.ptProject.uid}">
                                        <p>{member.ptProject.projectTitel}</p>
                                    </f:link.action>
                                </div>
                            </f:for>
                            <br>
                        </div>

                    </div>
                </div>

       

            </div>
         </div> <!-- /end container -->

 </div>


</f:section>