{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
   /* Partial ToDoForm
    * 
    *
    * Version 1.0.1 Build 12.6.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>




<f:form method="post" controller="Todo" action="todoCreate" name="todo" object="{todo}"   >

    <div class="stageItemTable">

        <!--hidden fields -->
        <f:form.textfield property="todoList" value="{todo.todoList}" class="hidden" />
        <f:form.textfield property="todoNr" value="{todo.todoNr}" class="hidden" />

        <!-- regular Fields -->

        <div class="stageItemTableLabel">
            Titel
        </div>
        <div class="stageItemTableContent">
            <f:form.textfield property="todoTitle" value="{todo.todoTitle}" class="fullWidth" />
        </div>
        <div class="stageItemTableDivider"></div>

        <div class="stageItemTableLabel">
            KText
        </div>
        <div class="stageItemTableContent">
            <f:form.textarea  cols="45" rows="3" property="todoDescription" value="{todo.todoDescription}" />
        </div>
        <div class="stageItemTableDivider"></div>

        <div class="stageItemTableLabel">
            Status / Typ 
        </div>
        <div class="stageItemTableContent">
            <f:form.select property="todoStatus" options="{status}" optionValueField="" optionLabelField="" />
            <f:form.select property="todoTyp" options="{typ}" optionValueField="typ" optionLabelField="id" />

        </div>
        <div class="stageItemTableDivider"></div>



        <div class="stageItemTableLabel">
            Assigned / Zeitbedarf
        </div>
        <div class="stageItemTableContent">
            <f:form.select property="todoAssigned" options="{user}" optionValueField="uid" optionLabelField="username" />

            <f:form.select property="todoPlantime" options="{plantime}" optionValueField="" optionLabelField="" />

        </div>
        <div class="stageItemTableDivider"></div>

        <div class="stageItemTableLabel">
            Datum / Ende
        </div>
        <div class="stageItemTableContent">
            <f:form.textfield  class="datepicker" property="todoDate" value="{todo.Date}" />
            <f:form.textfield class="datepicker" property="todoEnd" value="{todo.End}" />
        </div>
        <div class="stageItemTableDivider"></div>

    </div>




    <div class="formrow buttonrow">

        <input type="button"  class="button lightbox-close" value="abbrechen"  />
        <f:form.submit name="mySubmit" value="speichern" class="button" />

        <input type="button"  class="button lightbox-close" value="schließen"  />

    </div>
</f:form>
