<div class="col-md-7">
    
    <div class="form-group">
        <label for="First Name" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-7">
            <f:form.textfield property="firstName" value="{person.firstName}" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Last Name" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-7">
            <f:form.textfield property="lastName" value="{person.lastName}" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Street" class="col-sm-2 control-label">Street</label>
        <div class="col-sm-10">
            <f:form.textfield property="address" value="{person.address}" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="City" class="col-sm-2 control-label">ZIP / City</label>
        <div class="col-sm-2">
            <f:form.textfield property="zip" value="{person.zip}" class="form-control"/>
        </div>
        <div class="col-sm-8">
            <f:form.textfield property="city" value="{person.city}" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Company" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
               <f:form.select property="company" options="{companies}" optionValueField="uid" optionLabelField="cyShort" prependOptionLabel="-- Company --" class="form-control"/>
        </div>
    </div>
    
</div>

<div class="col-md-1"></div>

<div class="col-md-4">
    <div class="form-group">
        <label for="Street" class="col-sm-2 control-label">Tel</label>
        <div class="col-sm-10">
            <f:form.textfield property="telephone" value="{person.telephone}" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Web" class="col-sm-2 control-label">Web</label>
        <div class="col-sm-10">
            <f:form.textfield property="web" value="{person.web}" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Mail" class="col-sm-2 control-label">E-Mail</label>
        <div class="col-sm-10">
            <f:form.textfield property="email" value="{person.email}" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Mail" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <f:form.textfield property="username" value="{person.username}" class="form-control"/>
        </div>
    </div>
    
     <div class="form-group">
        <label for="Mail" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <f:form.password property="passwordInput" value="{person.passwordInput}" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Mail" class="col-sm-2 control-label">Right Group</label>
        <div class="col-sm-10">
            <f:form.select property="userRights" options="{0: '--User Rights --', 1: 'admin', 2: 'internal', 3: 'external'}" class="form-control"/>
      
            
        </div>
    </div>
    
    <div class="form-group">
        <label for="Mail" class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-10">
            <f:form.submit value="save" class="btn btn-primary"/>
        </div>
    </div>
    
    
    
</div>