<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Projects</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-heading clearfix">
                            <f:render partial="Project/PojectListPanelHeader" arguments="{_all}"/>
                        </div>
                        
                        <div class="panel-body">
                            <!-- Projects without cat -->
                            <f:if condition="{projectsWithoutCat}">
                                <div class="pat-list-item clearfix even">
                                    <div class="list-item"><b>Projects without Category</b></div>
                                </div>
                            </f:if>
                            <f:for each="{projectsWithoutCat}" as="project" iteration="iterWO">
                                <f:link.action action="projectIndex" arguments="{uid: project.uid}">
                                    <div class="pat-list-item clearfix {f:if(condition: '{iterWO.isEven} == 1', then: ' even', else: ' odd')}">

                                        <div class="pat-list-cell cell-first cell-50">
                                            {project.projectNumber}
                                        </div>
                                        <div class="pat-list-cell cell-bold cell-600">
                                            {project.projectTitel}
                                        </div>
                                        <div class="pat-list-cell cell-100">
                                            <f:format.date format="d.m.Y">{project.projectDate}</f:format.date>
                                        </div>
                                        <div class="pat-list-cell cell-100">
                                            {project.projectStatus.statusText}
                                        </div>
                                        <div class="pat-list-cell cell-100">
                                            {project.projectOwner.username}
                                        </div>
                                        <div class="pat-list-cell cell-100">
                                            {project.openTickets} Tickets open
                                        </div>
                                    </div>
                                </f:link.action>
                            </f:for>

                            <!-- Projects with cats -->
                            <f:for each="{projectsByCat}" as="category">
                               
                                    
                                    <div class="pat-list-item clearfix even">
                                        <div class="list-item"><b>{category.cat.catParent.catTitle} {category.cat.catTitle}</b></div>
                                    </div>
                                    
                                    <f:for each="{category.pro}" as="mainpro" iteration="iter">
                                    <f:link.action action="projectIndex" arguments="{uid: mainpro.uid}">
                                        <div class="pat-list-item clearfix">
                                            <div class="pat-list-cell cell-first cell-50">
                                                {mainpro.projectNumber}
                                            </div>
                                            <div class="pat-list-cell cell-bold cell-600">
                                                {mainpro.projectTitel}
                                            </div>
                                            <div class="pat-list-cell cell-100">
                                                <f:format.date format="d.m.Y">{mainpro.projectDate}</f:format.date>
                                            </div>
                                            <div class="pat-list-cell cell-100">
                                                {mainpro.projectStatus.statusText}
                                            </div>
                                            <div class="pat-list-cell cell-100">
                                                {mainpro.projectOwner.username}
                                            </div>
                                            <div class="pat-list-cell cell-100">
                                                {mainpro.openTickets} Tickets open
                                            </div>
                                        </div>
                                    </f:link.action>
                                </f:for>
                                    
                                
                                
                            </f:for>

                        </div>
                    </div>



                </div>
            </div>

        </div>




    </div><!-- end main Frame -->

</f:section>