<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <h2>Projects</h2>

        <div class="stage-navi clearfix">

            <div class="stage-navi-navi">
                <ul>
                    <li class="{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                    <f:link.action action="allProjectsByCat">
                        Projects by Kategory
                    </f:link.action>
                    </li>
                    <li class="{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                    <f:link.action action="allProjectsByNum">
                        Projects by Number
                    </f:link.action>
                    </li>

                    <li class="{f:if(condition: '{mainmenu} == 3', then: ' active')}">
                    <f:link.action action="allProjectsByArchive" arguments="{uid: project.uid}">
                        Archive
                    </f:link.action>
                    </li>

                </ul>
                <ul class="right">
                    <li>
                    <f:link.action action="projectNew">
                        <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Project" />
                    </f:link.action>
                    </li>
                </ul>

            </div>


            <div class="pat-list">
                <br />
                <!-- projects without Cat -->
                <f:for each="{projectsWithoutCat}" as="project" iteration="iterWO">
                    <f:link.action action="projectIndex" arguments="{uid: project.uid}">
                        <div class="pat-list-item clearfix {f:if(condition: '{iterWO.isEven} == 1', then: ' even', else: ' odd')}">

                            <div class="pat-list-cell cell-first cell-50">
                                {project.projectNumber}
                            </div>
                            <div class="pat-list-cell cell-bold cell-700">
                                {project.projectTitel}
                            </div>
                            <div class="pat-list-cell cell-100">
                                <f:format.date format="d.m.Y">{project.projectDate}</f:format.date>
                            </div>
                            <div class="pat-list-cell cell-100">
                                {project.projectStatus.statusText}
                            </div>
                            <div class="pat-list-cell cell-100">
                                {project.projectOwner.username}
                            </div>
                            <div class="pat-list-cell cell-100">
                                {project.openTickets} Tickets open
                            </div>
                        </div>
                    </f:link.action>
                </f:for>
                <!-- Projects By Cat -->
                <f:for each="{projectsByCat}" as="catpro">
                    <div class="pat-list-item clearfix even">
                        <div class="list-item"><b>{catpro.cat.catParent.catTitle} {catpro.cat.catTitle}</b></div>
                    </div>

                    <f:for each="{catpro.pro}" as="mainpro" iteration="iter">
                        <f:link.action action="projectIndex" arguments="{uid: mainpro.uid}">
                            <div class="pat-list-item clearfix">
                                <div class="pat-list-cell cell-first cell-50">
                                    {mainpro.projectNumber}
                                </div>
                                <div class="pat-list-cell cell-bold cell-700">
                                    {mainpro.projectTitel}
                                </div>
                                <div class="pat-list-cell cell-100">
                                    <f:format.date format="d.m.Y">{mainpro.projectDate}</f:format.date>
                                </div>
                                <div class="pat-list-cell cell-100">
                                    {mainpro.projectStatus.statusText}
                                </div>
                                <div class="pat-list-cell cell-100">
                                    {mainpro.projectOwner.username}
                                </div>
                                <div class="pat-list-cell cell-100">
                                    {mainpro.openTickets} Tickets open
                                </div>
                            </div>
                        </f:link.action>
                    </f:for>


                </f:for>
            </div>


        </div>
    </div><!-- end main Frame -->

</f:section>