<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{project: project, mainmenu: '4'}"/>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Tickets</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <f:link.action action="projectTicketsOpen" arguments="{uid: project.uid}">
                                    <li class="panel-link active">
                                        <span class="hidden-xs">Open&nbsp;</span>by Milestone 
                                    </li>
                                </f:link.action>

                                <f:link.action action="projectTicketsOpenNo" arguments="{uid: project.uid}">
                                    <li class="panel-link">
                                        <span class="hidden-xs">Open&nbsp;</span>by Date 
                                    </li>
                                </f:link.action>

                                <f:link.action action="projectTicketsClose" arguments="{uid: project.uid}">
                                    <li class="panel-link">
                                        closed
                                    </li>
                                </f:link.action>

                                <f:link.action action="projectTicketsAll" arguments="{uid: project.uid}">
                                    <li class="panel-link">
                                        all
                                    </li>
                                </f:link.action>

                                <span class="hidden-sm hidden-md hidden-lg">
                                    <f:link.action action="writePdfTicketlist" arguments="{uid: project.uid}">
                                        <li class="panel-link">
                                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                            <span class="hidden-xs">&nbsp; pdf</span>
                                        </li>
                                    </f:link.action>

                                    <f:link.action action="projectTicketNew" arguments="{uid: project.uid}">
                                        <li class="panel-link">
                                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                            
                                        </li>
                                    </f:link.action>
                                </span>

                            </ul>

                            <ul class="pull-right hidden-xs">
                                <f:link.action action="writePdfTicketlist" arguments="{uid: project.uid}">
                                    <li class="panel-link">
                                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                        <span class="hidden-xs">&nbsp; pdf</span>
                                    </li>
                                </f:link.action>

                                <f:link.action action="projectTicketNew" arguments="{uid: project.uid}">
                                    <li class="panel-link">
                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                    </li>
                                </f:link.action>
                            </ul>

                        </div>

                        <div class="panel-body">
                            <f:render partial="Project/TicketSection/ProjectTicketListPerMilestone" arguments="{_all}"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>


</f:section>