{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}   
<f:layout name="Default" />

<f:section name="main">
    <div id="pat">

        <div class="stage-header">
            <f:render partial="Project/ProjectHeader" arguments="{_all}" />
        </div>


        <div class="stage">
            <h2>Projekt Details:</h2>
            <f:render partial="Project/ProjectSubMenueProjectEdit" arguments="{_all}" />

            <br />
            <div class="project-stage-left">

                <div class="projectdetails-show-row">
                    <div class="projectdetails-show-label">
                        Project Titel
                    </div> 
                    <div class="projectdetails-show-content">
                        {project.projectTitle}
                    </div>
                </div>

                <div class="projectdetails-show-row">
                    <div class="projectdetails-show-label">
                        Budget
                    </div> 
                    <div class="projectdetails-show-content">
                        <vh:plantime time="{project.projectBudgetTime}" />
                        &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{project.projectBudgetMoney} €
                    </div>
                </div>

                <div class="projectdetails-show-row">
                    <div class="projectdetails-show-label">
                        Text
                    </div> 
                    <div class="projectdetails-show-content">
                        {project.projectShort}
                    </div>
                </div>

                <div class="projectdetails-show-row">
                    <div class="projectdetails-show-label">
                        Beschreibung
                    </div> 
                    <div class="projectdetails-show-content">
                        <f:format.nl2br>{project.projectText}</f:format.nl2br>
                    </div>
                </div>



            </div>



            <div class="project-stage-content-right">
                <h3>Projekt User</h3>

                <f:for each="{projectuser}" as="puser">
                    <div class="projectdetails-list-puser-item">
                        <div class="projectdetails-list-puser-name">
                            {puser.projectrightsUser.username}
                        </div>
                        <div class="projectdetails-list-puser-rights">
                            {puser.projectrightsRights}
                        </div>
                    </div>
                </f:for>
            </div>
        </div></div>

</f:section>