<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>



        <br />

        <h3>Project Team</h3>
        <div class="stage-list clearfix">
            <div class="stage-sub-navi">
                <div class="stage-sub-navi-top">
                    <ul>
                        <li class="{f:if(condition: '{submenu} == 1', then: ' active')}">
                        <f:link.action action="projectContractList" arguments="{uid: project.uid}">
                            Team
                        </f:link.action>
                        </li>

                    </ul>
                    <ul class="right">
                        <li>

                        <f:link.action action="projectTeamNew" arguments="{uid: project.uid}">
                            <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new projectMember" />
                        </f:link.action>

                        </li>
                    </ul>
                </div>

            </div>

            <div class="pat-stage-inner-left">
                <div class="pat-list">
                    <f:for each="{projectteam}" as="member" iteration="iterPerson">
                        <div class="pat-list-item clearfix {f:if(condition: '{iterPerson.isEven} == 1', then: ' even', else: ' odd')}">
                            <div class="list-item ticket-titel">
                                {member.ptUser.firstName} {member.ptUser.lastName}
                            </div>

                            <div class="list-item ticket-status-inline">
                                Tel: {member.ptUser.telephone}
                            </div>
                            <f:link.action action="projectTeamDelete" arguments="{uid: project.uid, memberUid: member.uid}">
                                <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_close.png" width="14" height="14" alt="delete Project Member" />
                            </f:link.action>
                        </div>
                    </f:for>
                </div>
            </div>

            <div class="pat-stage-inner-right">
                <div class="pat-form">
                <f:form action="projectTeamSave" name="teamMember" object="{teamMember}">
                    <f:form.hidden property="ptProject" value="{project.uid}" />
                    <div class="pat-form-wrap">
                        <h4>Add Member</h4>
                    </div>
                    <div class="pat-form-wrap">
                        <f:form.select property="ptUser" options="{persons}" optionValueField="uid" optionLabelField="fullname" prependOptionLabel="-- Person --" /><br />
                    </div>
                    <div class="pat-form-wrap">
                        <f:form.submit value="save" class="button"/>
                    </div>    
                        
                </f:form>
                </div>
            </div>


        </div>

        <div class="clear"></div><br /><br />
    </div>



</f:section>