<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>


        <div class="container">
        
            <div class="row">
                <div class="col-md-12">
                    <h4>Documents</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <li class="panel-link{f:if(condition: '{submenu} == 1', then: ' active')}">
                                <f:link.action action="projectDocumentIndex" arguments="{uid: project.uid}">
                                    All Documents
                                </f:link.action>
                                </li>
                            </ul>

                            <ul class="pull-right">

                            </ul>

                        </div>

                        <div class="panel-body">
                            <f:if condition="{documents}">
                                <f:then>

                                    <f:for each="{documents}" as="doc">
                                        
                                       
                                        

                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <h3>{doc.docDescription}</h3>
                                                <f:link.action action="projectDocumentDelete" arguments="{document: doc}" class="btn btn-primary btn-xs">
                                                    Dokument löschen
                                                </f:link.action>
                                            </div>
                                            <f:for each="{doc.files}" as="file">
                                                <a href="{file.originalResource.publicUrl}" target="_blank">
                                                    <f:image src="{file.originalResource.originalFile.uid}" alt="" maxWidth="500" maxHeight="300" class="project-document"/>
                                                </a>
                                            </f:for>
                                        </div>



                                    </f:for>
                                </f:then>
                                <f:else>
                                    <div class="pat-list-item clearfix ">
                                        No data found.
                                    </div>
                                </f:else>
                            </f:if>
                        </div>

                        <div class="panel-footer clearfix">
                            <h5>Add Document</h5>
                            <f:form action="projectDocumentSave"  enctype="multipart/form-data"  name="newDocument" object="{newDocument}" class="form-horizontal" >

                                <f:form.hidden property="docProject" value="{project.uid}" />

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                                        <div class="col-sm-10">
                                            <f:form.textfield property="docDescription" id="falfeupload-entry-title" class="form-control"/>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-1"></div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">File</label>
                                        <div class="col-sm-10">
                                            <f:form.upload id="falfeupload-entry-files-1" name="file[0]"  />
                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-1 pull-right">
                                    <f:form.submit value="   save    " class="btn btn-primary"/>
                                </div>


                            </f:form>
                        </div>
                    </div>
                </div>

            </div>
        </div>





    </div>


</f:section>