{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
    /**
    * Project New
    * 
    * Shows the Project New Page
    * @param {project}
    * @param {projectheader}
    * Version 1.0.2 Build 26.8.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>


<f:layout name="Default" />

<f:section name="main">
    <div id="pat">

        <div class="stage-header">
            <f:render partial="Inbox/InboxHeader" arguments="{_all}" />
        </div>

        <div class="stage">
            <h2>Project New:</h2>
            

            <br />
            <div class="clear"></div>
            <f:form method="post" controller="Project" action="projectCreate" name="project" object="{project}"   >

                <f:render partial="Project/ProjectEditForm" arguments="{_all}" />
            
            </f:form>
            <div class="clear"></div>
            <br />
            <br />
        </div>

    </div>

</f:section>