{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>
        

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Project Details</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-heading clearfix">
                            <f:render partial="Project/ProjectDetailPanelHeader" arguments="{_all}"/>
                        </div>

                        <div class="panel-body">
                            <div class="col-md-12">&nbsp;</div>
                            <f:for each="{list}" as="singlemonth">
                                <div class="monthgroup">
                                <div class="col-md-10">
                                    <h3>{singlemonth.month}</h3>
                                </div>
                                <div class="col-md-2">
                                    <div style="margin-top:25px;">
                                        <b>Time Summary: <span class="monthtime"></span></b>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                <f:for each="{singlemonth.respond}" as="item" iteration="iter">
                                    <div class="pat-list-item clearfix {f:if(condition: '{iter.isEven} == 1', then: ' even', else: ' odd')}">

                                        <div class="pat-list-cell cell-75">
                                            <f:format.date format="d.m.Y">{item.trDate}</f:format.date>
                                        </div>

                                        <div class="pat-list-cell cell-700">
                                            {item.trTicket.ticketTitel} {item.trText}
                                        </div>
                                        
                                        <div class="pat-list-cell cell-100">
                                            &nbsp;
                                        </div>
                                        <div class="pat-list-cell cell-100">
                                            {item.trOwner.username}
                                        </div>
                                        
                                        <div class="pat-list-cell cell-50 timecell" data-time="{item.trTime}">
                                            <vh:time time="{item.trTime}" />
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                        
                                        <div class="pat-list-cell cell-75">
                                            &nbsp;
                                        </div>
                                        
                                        <div class="pat-list-cell cell-700">
                                            {item.trTitel}
                                        </div>
                                        
                                    </div>
                                    
                                </f:for>
                                    <p>&nbsp;</p>
                            </div>
                                </div>
                                
                            </f:for>
                            
                            

                            <div class="col-md-12">&nbsp;</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</f:section>