<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>



        <br />

        <h3>Edit Milestone</h3>  
        <div class="stage-list clearfix">
            <div class="stage-sub-navi">
                <ul>
                    <li class="active">edit</li>
                    <li class="{f:if(condition: '{submenu} == 1', then: ' active')}">
                    <f:link.action action="projectMilestoneListAll" arguments="{uid: project.uid}">
                        all
                    </f:link.action>
                    </li>
                    <li class="{f:if(condition: '{submenu} == 2', then: ' active')}">
                    <f:link.action action="projectMilestoneListOpen" arguments="{uid: project.uid}">
                        open
                    </f:link.action>
                    </li>
                    <li class="{f:if(condition: '{submenu} == 3', then: ' active')}">
                    <f:link.action action="projectMilestoneListClosed" arguments="{uid: project.uid}">
                        achived
                    </f:link.action>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                    <f:link.action action="projectMilestonesNew" arguments="{uid: project.uid}">
                        <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Ticket" />
                    </f:link.action></li>
                </ul>
            </div>

            <f:form action="projectMilestonesSave" name="milestone" object="{milestone}">

                <f:render partial="Project/ProjectMilestonesForm" arguments="{_all}"/>

                <f:form.submit value="save" class="button"/>
            </f:form>

        </div>


    </div>


</f:section>