{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

    <div id="pat">
        <div class="stage-header">

            <f:render partial="Project/ProjectHeader" arguments="{_all}" />

        </div>

        <div class="stage">
            <div class="stage-left-50">
                <h2>Neue Nachrichten</h2> 
                <f:render partial="Widgets/WidgetMessages" arguments="{messages: messages}" />
                <br />
                <h2>Project Member</h2> 
                <f:render partial="Widgets/WidgetProjectMember" arguments="{_all}" />
            </div>


            <div class="stage-right-50">
                <!-- Widget Todos -->
                <f:if condition="{todos}">
                    <f:then>
                <f:for each="{todos}" as="todo">
                    <h2>Todos: {todo.lists.todolistTitel}</h2> {todo.lists.todolistDescription}<br>
                    
                    <f:render partial="Widgets/WidgetToDos" arguments="{todos:todo.todos}" />

                    <div class="listTodoFooter">
                        {todo.all} ToDos insgesamt, {todo.open} offen.
                    </div>
                    <br />
                </f:for>
                </f:then>
                    <f:else>
                        <h2>Todos: bisher keine Liste angelegt</h2>
                    </f:else>
                </f:if>
                <f:link.action action="todoListNew" controller="Todo"arguments="{project:project}">
                    <div class="button">Neue Todo Liste anlegen</div>
                </f:link.action>
                
                <br />
                <br />
                <!-- Widget Sub Projects -->
                <h2>Unterprojekte</h2>
                <f:if condition="{subprojects}">
                    <f:then>
                        <f:render partial="Widgets/WidgetProjects" arguments="{projects: subprojects}" />
                    </f:then>
                    <f:else>
                        <p>Keine Unterprojekte vorhanden.</p>
                    </f:else>
                </f:if>
                
            </div>

            <div class="clear"></div>


            <h2>Nachrichten</h2>
            <div class="projectListItem">
                Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
            </div>
            <div class="projectListItem">
                Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
            </div>       
            <div class="projectListItem">
                Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
            </div>
            <div class="projectListItem">
                Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
            </div>
            Fussnote & Link -> alle anzeigen
            <br>
            <br ><br />




            <br ><br>
            <h2>Leistungen:</h2>
            <f:render partial="Work/LeistungenList" arguments="{works:works}" />
            <div class="listTodoFooter">
                <f:link.action action="workNew" controller="Work"arguments="{project:project}">
                    <div class="button">Liste bearbeiten</div> 
                </f:link.action>
            </div>


        </div>
    </div>

</f:section>