{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    
    <div id="pat">
        <div class="stage-header">

            <f:render partial="Project/ProjectHeader" arguments="{_all}" />
            
        </div>
        
        <div class="stage">

            <h2>Nachrichten</h2>
            <div class="projectListItem">
                Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
            </div>
            <div class="projectListItem">
                Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
            </div>       
            <div class="projectListItem">
                Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
            </div>
            <div class="projectListItem">
                Icon &nbsp;&nbsp; Klaus &nbsp;&nbsp; Hier kommen die letzten 5mails and notes
            </div>
            Fussnote & Link -> alle anzeigen
            <br>
            <br ><br />


            <h2>To-Do Listen</h2>

            <f:for each="{todos}" as="todo">

                <h4> {todo.lists.todolistTitel}</h4> {todo.lists.todolistDescription}<br>
                <f:render partial="Todos/TodoList" arguments="{todos:todo.todos}" />

                <div class="listTodoFooter">
                    <f:link.action action="todoNew" controller="Todo"arguments="{list: todo.lists.uid}">
                        <div class="button">Liste bearbeiten</div> 
                    </f:link.action>
                    {todo.all} ToDos insgesamt, {todo.open} offen.
                </div>
                <br /><br />
            </f:for>
            <br />
            <f:link.action action="todoListNew" controller="Todo"arguments="{project:project}">
                Neue Todo Liste anlegen
            </f:link.action>

            <br ><br>
            <h2>Leistungen:</h2>
            <f:render partial="Leistungen/LeistungenList" arguments="{works:works}" />
            <div class="listTodoFooter">
                <f:link.action action="workNew" controller="Work"arguments="{project:project}">
                    <div class="button">Liste bearbeiten</div> 
                </f:link.action>
            </div>


        </div>
    </div>

</f:section>