<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Projects</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <li class="panel-link active">
                                    Project Edit
                                </li>
                                <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                                <f:link.action action="allProjectsByCat">
                                    Projects by Kategory
                                </f:link.action>
                                </li>
                                <li class="panel-link{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                                <f:link.action action="allProjectsByNum">
                                    Projects by Number
                                </f:link.action>
                                </li>

                                <li class="panel-link{f:if(condition: '{mainmenu} == 3', then: ' active')}">
                                <f:link.action action="allProjectsByArchive" arguments="{uid: project.uid}">
                                    Archive
                                </f:link.action>
                                </li>

                            </ul>

                            <ul class="pull-right">
                                <li class="panel-link">
                                <f:link.action action="projectNew">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </f:link.action>
                                </li>
                            </ul>
                        </div>

                        <div class="panel-body">
                            <h3> &nbsp;</h3>
                            <f:form action="projectSave" name="project" object="{project}" class="form-horizontal" >
                                <f:render partial="Project/ProjectForm" arguments="{_all}"/>
                            </f:form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


</f:section>