<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Tickets</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <f:render partial="Project/TicketSection/ProjectTicketListPanelHeader" arguments="{_all}"/>
                        </div>

                        <div class="panel-body">
                             <f:render partial="Project/ProjectTicketList" arguments="{_all}"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>


       

    </div>


</f:section>