<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Project Details</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-heading clearfix">
                            <f:render partial="Project/ProjectDetailPanelHeader" arguments="{_all}"/>
                        </div>

                        <div class="panel-body">
                           <div class="col-md-12">&nbsp;</div>
                           
                           <div class="col-md-7"> <f:format.nl2br>{project.projectText}</f:format.nl2br></div>
                           <div class="col-md-5">&nbsp;</div>
                           
                           <div class="col-md-12">&nbsp;</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>




</f:section>