{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">
        
        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>

    </div>
    
    <div class="container">
    <div class="row">
        <div class="col-md-12">
    Milestone List: Milestone Beschreibung, offene Tasks, wenn Milestone erledigt durchgestrichen anzeigen.<br />
    rechte Spalte: Team Member
        </div>
        </div>
    </div>
</f:section>