<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Project Details</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <li class="panel-link{f:if(condition: '{submenu} == 1', then: ' active')}">
                                <f:link.action action="projectDetail" arguments="{uid: project.uid}">
                                    Description
                                </f:link.action>
                                </li>
                                <li class="panel-link{f:if(condition: '{submenu} == 2', then: ' active')}">
                                <f:link.action action="projectDetailEvaluation" arguments="{uid: project.uid}">
                                    Time & Costs
                                </f:link.action>
                                
                                <!--
                                </li>
                                <li class="panel-link{f:if(condition: '{submenu} == 3', then: ' active')}">
                                <f:link.action action="projectDetailCosts" arguments="{uid: project.uid}">
                                    Offers & Invoices
                                </f:link.action>
                                </li>
                                -->
                                
                            </ul>

                            <ul class="pull-right">
                                
                            </ul>

                        </div>

                        <div class="panel-body">
                           <div class="col-md-12">&nbsp;</div>
                           
                           <div class="col-md-7"> <f:format.nl2br>{project.projectText}</f:format.nl2br></div>
                           <div class="col-md-5">&nbsp;</div>
                           
                           <div class="col-md-12">&nbsp;</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>




</f:section>