<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Sprints</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <li class="panel-link active">
                                <f:link.action action="projectSprintListOpen" arguments="{uid: project.uid}">
                                    open
                                </f:link.action>
                                </li>
                                <li class="panel-link">
                                    all
                                    <!--
                                    <f:link.action action="projectSprintListAll" arguments="{uid: project.uid}">
                                        all
                                    </f:link.action>
                                    -->
                                </li>
                                <li class="panel-link">
                                    achived
                                    <!--
                                    <f:link.action action="projectSprintListClosed" arguments="{uid: project.uid}">
                                        achived
                                    </f:link.action>
                                    -->
                                </li>
                            </ul>

                            <ul class="pull-right">
                                <li class="panel-link">
                                <f:link.action action="projectSprintNew" arguments="{uid: project.uid}">
                                    <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Ticket" />
                                </f:link.action>
                                </li>
                            </ul>

                        </div>

                        <div class="panel-body">
                            <f:render partial="Project/ProjectSprintList" arguments="{_all}"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        



    </div>


</f:section>