<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <f:render partial="Project/ProjectHeader" arguments="{_all}"/>



        <br />

        <h3>Sprints</h3>
        <div class="stage-list">
            <div class="stage-sub-navi">
                <div class="stage-sub-navi-top">
                    <ul>
                        <li class="{f:if(condition: '{submenu} == 1', then: ' active')}">
                            <f:link.action action="projectSprintListOpen" arguments="{uid: project.uid}">
                                open
                            </f:link.action>
                        </li>
                        <li class="{f:if(condition: '{submenu} == 2', then: ' active')}">
                            all
                            <!--
                            <f:link.action action="projectSprintListAll" arguments="{uid: project.uid}">
                                all
                            </f:link.action>
                            -->
                        </li>
                        <li class="{f:if(condition: '{submenu} == 3', then: ' active')}">
                            achived
                            <!--
                            <f:link.action action="projectSprintListClosed" arguments="{uid: project.uid}">
                                achived
                            </f:link.action>
                            -->
                        </li>
                    </ul>
                    <ul class="right">
                        <li>
                        <f:link.action action="projectSprintNew" arguments="{uid: project.uid}">
                            <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Ticket" />
                        </f:link.action></li>
                    </ul>
                </div>

            </div>

            <f:render partial="Project/ProjectSprintList" arguments="{_all}"/>
        </div>



    </div>


</f:section>