{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">


    <div id="pat">
        <div class="stage-header">
            <f:render partial="Project/ProjectHeader" arguments="{_all}" />
        </div>

        <div class="stage">
            <div class="project-stage-left">
                <div class="hidden jqTodoList">{todolist.uid}</div>
                <h2>{todolist.todolistTitel}</h2>
                {todolist.todolistDescription}
            </div>

            <div class="clear"></div>
            <br/>

            <!--The form -->

           
                    <div class="form">
                        <f:render partial="Project/TodoForm" arguments="{_all}" />
                    </div>   
                    
                    <div class="{f:if(condition:'{todolist}',then:'listform jqTodoListForm',else:'show')}" >
                        <f:render partial="Project/TodoListForm" arguments="{_all}" />
                    </div>
                    

            <!-- The List -->
            <f:render partial="Project/TodoListSubMenu" arguments="{_all}" />
            <f:render partial="Project/TodoList" arguments="{todos:todosAllFromList}" />

            <br />
            <div class="project-stage-left">
            </div>
            <div class="project-stage-right">
                <div class="button jqShowForm">
                    ToDo hinzufügen
                </div>
            </div>

        </div>

    </div>

</f:section>