{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    

    <div class="stage">
        
        <h1>User Settings</h1>

        <!------------------------------------------------------------------------------>
        <br />
        <div class="stage-left-50">
            This part is not coded.
            On a later step the user can setup here some personal settings.
        </div>
        
        <div class="stage-right-50">
            
        </div>

        

    </div>

</f:section>