<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <h2>Settings</h2>

        <div class="stage-navi clearfix">

            <div class="stage-navi-navi">
                <ul>
                    <li class="{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                    <f:link.action action="settingsProjectCat">
                        Project Categories
                    </f:link.action>
                    </li>
                    <li class="{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                    <f:link.action action="settingsStatus" >
                        Selection Lists
                    </f:link.action>
                    </li>



                </ul>
                <ul class="right">
                    <li>
                    <f:link.action action="settingsProjectCatNew">
                        <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Category" />
                    </f:link.action>
                    </li>
                </ul>

            </div>   








            <f:for each="{categories}" as="cat" iteration="iter">

                <div class="pat-list-item clearfix {f:if(condition: '{iter.isEven} == 1', then: ' even', else: ' odd')}">
                    

                            <f:link.action action="settingsProjectCatEdit" arguments="{category: cat.main.uid}">
                            <div class="list-item cat-no">
                                {cat.main.catOrder}
                            </div>
                            <div class="list-item cat-titel">
                                {cat.main.catTitle}
                            </div>
                            </f:link.action>
                            <div class="list-item project-status">
                                <f:if condition="{iter.isFirst} == 0">
                                    <f:link.action action="settingsProjectCatUp" arguments="{category: cat.main}">
                                        <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_up.png" width="17" height="17" alt="up" />
                                    </f:link.action>
                                </f:if>
                                <f:if condition="{iter.isLast} == 0" >
                                    <f:link.action action="settingsProjectCatDown" arguments="{category: cat.main}">
                                    <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_down.png" width="17" height="17" alt="down" /> 
                                    </f:link.action>
                                </f:if>
                            </div>
                    
                            <f:for each="{cat.subs}" as="sub" iteration="iter2">
                                <div class="pat-sublist-item clearfix">
                                    <f:link.action action="settingsProjectCatEdit" arguments="{category: sub.uid}">
                                    <div class="list-item cat-no">
                                        &nbsp;
                                    </div>
                                    <div class="list-item cat-subtitel">
                                        {sub.catTitle}
                                    </div>
                                    </f:link.action>
                                    <div class="list-item project-status">
                                        <f:if condition="{iter2.isFirst} == 0">
                                        <f:link.action action="settingsProjectCatUp" arguments="{category: sub}">
                                            <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_up_small.png" width="17" height="17" alt="up" />
                                        </f:link.action>
                                        </f:if>
                                        <f:if condition="{iter2.isLast} == 0" >
                                            <f:link.action action="settingsProjectCatDown" arguments="{category: sub}">
                                            <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_down_samll.png" width="17" height="17" alt="down" /> 
                                        </f:link.action>
                                        </f:if>
                                    </div>
                                </div>
                            </f:for>
                            
                            
                            
                            
 
                    
                    
                    
                </div>

            </f:for>
        </div>

    </div>


</f:section>