<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                                <f:link.action action="settingsProjectCat">
                                    Project Categories
                                </f:link.action>
                                </li>
                                <li class="panel-link{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                                <f:link.action action="settingsStatus">
                                    Selection Lists
                                </f:link.action>
                                </li>
                                <li class="panel-link{f:if(condition: '{mainmenu} == 3', then: ' active')}">
                                <f:link.action action="settingsRights" >
                                    Userrights
                                </f:link.action>
                                </li>
                            </ul>

                            <ul class="pull-right">
                                <li class="panel-link">
                                <f:link.action action="settingsRightsNew">
                                    <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Right Group" />
                                </f:link.action>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="pat-list-item clearfix">
                                <p>&nbsp;&nbsp;Note: the admin group can not be edited!</p>
                            </div>
                            
                            <f:for each="{rightsGroups}" as="group" iteration="iter">
                                <div class="pat-list-item clearfix {f:if(condition: '{iter.isEven} == 1', then: ' even', else: ' odd')}">
                                    <f:if condition="{group.uid} == 1">
                                        <f:then>
                                           
                                        <div class="pat-list-cell cell-first cell-50">
                                            {group.uid}
                                        </div>
                                        <div class="pat-list-cell cell-bold cell-600">
                                            {group.rightName}
                                        </div>
                                    
                                        </f:then>
                                        <f:else>
                                           <f:link.action action="settingsRightsEdit" arguments="{rightGroup: group.uid}">
                                        <div class="pat-list-cell cell-first cell-50">
                                            {group.uid}
                                        </div>
                                        <div class="pat-list-cell cell-bold cell-600">
                                            {group.rightName}
                                        </div>
                                    </f:link.action> 
                                        </f:else>
                                    </f:if>
                                    
                                    
                                </div>
                            </f:for>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</f:section>