<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <f:render partial="Settings/SettingsMenu" arguments="{_all}"/>
                        </div>

                        <div class="panel-body">
                            <f:render partial="Settings/StatusForm" arguments="{_all}"/>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    ´


</f:section>