<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>
       
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <f:render partial="Settings/SettingsMenu" arguments="{_all}"/>
                        </div>

                        <div class="panel-body">
                            <f:for each="{statuslist}" as="status">
                                <div class="pat-list-item clearfix even">
                                    <div class="pat-list-cell cell-first cell-600">
                                        <b>{status.typ.statustypText}</b>
                                    </div>
                                    
                                    <div class="pat-list-cell cell-50 cell-right">
                                        <f:link.action action="settingsStatusNew" arguments="{statustyp: status.typ}">
                                            <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Category" />
                                        </f:link.action>
                                    </div>
                                </div>


                                <f:for each="{status.status}" as="item" iteration="iter">
                                    <f:link.action action="settingsStatusEdit" arguments="{uid: item.uid}">
                                        <div class="pat-list-item clearfix">
                                            <div class="pat-list-cell cell-first cell-50">
                                                &nbsp;
                                            </div>

                                            <div class="pat-list-cell cell-200">
                                                {item.StatusText}
                                            </div>
                                            <div class="pat-list-cell cell-200">
                                                <!-- Show fpr Projects -->
                                                <f:if condition="{item.statusTyp.uid} == 1">
                                                    <f:if condition="{item.StatusBehaviour} == 0">Behaviour: open</f:if>
                                                    <f:if condition="{item.StatusBehaviour} == 1">Behaviour: closed</f:if>
                                                </f:if>
                                                <!-- Show fpr Tickets -->
                                                <f:if condition="{item.statusTyp.uid} == 2">
                                                    <f:if condition="{item.StatusBehaviour} == 0">Behaviour: open</f:if>
                                                    <f:if condition="{item.StatusBehaviour} == 1">Behaviour: closed</f:if>
                                                </f:if>
                                                <!-- Show for Tickettyp -->
                                                <f:if condition="{item.statusTyp.uid} == 3">
                                                    -
                                                </f:if>
                                                <!-- Show fpr Milestones -->
                                                <f:if condition="{item.statusTyp.uid} == 4">
                                                    <f:if condition="{item.StatusBehaviour} == 0">Behaviour: open</f:if>
                                                    <f:if condition="{item.StatusBehaviour} == 1">Behaviour: closed</f:if>
                                                </f:if>
                                                <!-- Show fpr Worktime -->
                                                <f:if condition="{item.statusTyp.uid} == 5">
                                                    <f:if condition="{item.StatusBehaviour} == 2">Behaviour: custom time</f:if>
                                                    <f:if condition="{item.StatusBehaviour} == 3">Behaviour: internal time</f:if>
                                                </f:if>


                                            </div>

                                        </div>
                                    </f:link.action>
                                </f:for>


                            </f:for>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</f:section>