<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Settings</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <ul class="pull-left">
                                <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                                <f:link.action action="settingsProjectCat">
                                    Project Categories
                                </f:link.action>
                                </li>
                                <li class="panel-link{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                                <f:link.action action="settingsStatus">
                                    Selection Lists
                                </f:link.action>
                                </li>
                            </ul>

                            <ul class="pull-right">
                                <li class="panel-link">
                                <f:link.action action="settingsStatusNew">
                                    <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Category" />
                                </f:link.action>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="panel-body">
                            <f:for each="{statuslist}" as="status">
                                <div class="pat-list-item clearfix even">
                                    <div class="list-item"><b>{status.typ.statustypText}</b></div>
                                </div>

                                <f:for each="{status.status}" as="item" iteration="iter">
                                    <f:link.action action="settingsStatusEdit" arguments="{uid: item.uid}">
                                        <div class="pat-list-item clearfix">
                                            <div class="pat-list-cell cell-first cell-50">
                                                &nbsp;
                                            </div>

                                            <div class="pat-list-cell cell-200">
                                                {item.StatusText}
                                            </div>
                                            <div class="pat-list-cell cell-200">

                                                <f:if condition="{item.StatusBehaviour} == 0">Behaviour: open</f:if>
                                                <f:if condition="{item.StatusBehaviour} == 1">Behaviour: closed</f:if>
                                                <f:if condition="{item.StatusBehaviour} == 2">Behaviour: custom time</f:if>
                                                <f:if condition="{item.StatusBehaviour} == 3">Behaviour: internal time</f:if>
                                            </div>
                                            
                                        </div>
                                    </f:link.action>
                                </f:for>


                            </f:for>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


</f:section>