<f:comment>
    /**
    * Partial Page Header ProjectsAndTasks
    * 
    * @param {user}
    */
</f:comment>

<div id="header">
    <div class="header-inner">
        <h1 ><em>PROJECTS and TASKS</em></h1>

        <div class="divider"></div>

        <f:link.action action="index" controller="Inbox">
            InBox
        </f:link.action>

        <div class="divider"></div>

        <f:link.action action="projectsShow" controller="Inbox">
            Projects
        </f:link.action>

        <div class="divider"></div>

        <f:link.action action="index" controller="Calender">
            Calender
        </f:link.action>

        <div class="divider"></div>

        <f:link.action action="showAllUsers" controller="User">
            User
        </f:link.action>

        <div class="divider"></div>

        <div class="header-inner-right">

            <div class="login">
                <p>Hallo {user.firstName}!</p>

                <form class="" action="{f:uri.action(controller:settings.loginRedirectController, action:settings.loginRedirectAction)}" method="post" onsubmit="{onSubmit}">

                    <input id="button" type="submit" name="submit" value="abmelden" class="logoutbutton"/>

                    <div class="felogin-hidden">
                        <input type="hidden" id="user" name="user"  placeholder="BENUTZERNAME"/>
                        <input type="hidden" id="pass" name="pass"  placeholder="PASSWORD"/>
                        <input type="hidden" name="logintype" value="logout"/>
                        <input type="hidden" name="id" value="{currentPid}"/>
                        <input type="hidden" name="redirect_url" value="{currentPid}"/>
                        <input type="hidden" name="pid" value="{storagePid}"/>
                        <f:format.html parseFuncTSPath="">{extraHidden}</f:format.html>
                    </div>

                </form>  
            </div>


            <f:link.action action="index" controller="Settings">
                <f:image src="EXT:projects_and_tasks/Resources/Public/Icons/icon_settings.png" width="20px" height="20px" alt="settings" />
            </f:link.action>
        </div>

    </div>
</div>
<div class="clear"></div>
<br />
