<f:comment>
    /**
    * Partial Page Header ProjectsAndTasks
    * 
    * 
    */
</f:comment>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PROJECTS and TASKS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {f:if(condition: '{topmenu} == 1', then: 'class="active"')}>
                    <f:link.action action="index" controller="Index">
                        InBox
                    </f:link.action>
                </li>

                
                <li {f:if(condition: '{topmenu} == 2', then: 'class="active"')}>
                    <f:link.action action="allProjectsByCat" controller="Project">
                        Projects
                    </f:link.action>
                </li>

                
                <li {f:if(condition: '{topmenu} == 3', then: 'class="active"')}>
                    <f:link.action action="ticketListDate" controller="Ticket">
                        Tickets
                    </f:link.action>
                </li>


                <f:security.ifHasRole role="pat-intern">
                <li {f:if(condition: '{topmenu} == 4', then: 'class="active"')}>
                    <f:link.action action="timeMonth" controller="Time">
                        Time
                    </f:link.action>
                    </li>
                </f:security.ifHasRole>


                <f:security.ifHasRole role="pat-intern">
                <li {f:if(condition: '{topmenu} == 5', then: 'class="active"')}>
                    <f:link.action action="personList" controller="Address">
                        Address
                    </f:link.action>
                </li>
                </f:security.ifHasRole>

                
                <f:security.ifHasRole role="pat-intern">
                <f:if condition="{settings.showWhiteboard}">
                <li {f:if(condition: '{topmenu} == 6', then: 'class="active"')}>
                    <f:link.action action="whiteboardOverview" controller="Whiteboard">
                        Whiteboard
                    </f:link.action>
                </li>
                </f:if>
                </f:security.ifHasRole>
            </ul>

            
            <ul class="nav navbar-nav navbar-right">
                <f:security.ifHasRole role="pat-admin">
                <li>
                    <f:link.action action="settingsProjectCat" controller="Settings">
                        <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_settings.png" width="17" height="17" alt="Settings" />
                    </f:link.action>
                </li>
                </f:security.ifHasRole>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a id="dropuser" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                        Hi {settings.username}!
                        <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu" aria-labelledby="dropdown" role="menu">
                        <li role="presentation">
                            <form class="" action="{f:uri.action(controller:settings.loginRedirectController, action:settings.loginRedirectAction)}" method="post" onsubmit="{onSubmit}">

                                <input id="button" type="submit" name="submit" value="abmelden" role="menuitem" class="btn btn-primary btn-xs pull-right"/>

                                <div class="felogin-hidden">
                                    <input type="hidden" id="user" name="user"  placeholder="BENUTZERNAME"/>
                                    <input type="hidden" id="pass" name="pass"  placeholder="PASSWORD"/>
                                    <input type="hidden" name="logintype" value="logout"/>
                                    <input type="hidden" name="id" value="{currentPid}"/>
                                    <input type="hidden" name="redirect_url" value="{currentPid}"/>
                                    <input type="hidden" name="pid" value="{storagePid}"/>
                                    <f:format.html parseFuncTSPath="">{extraHidden}</f:format.html>
                                </div>

                            </form> 
                        </li>
                    </ul>
                </li>


            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



