{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
    /**
    * INBOX: Partial Project List Sub Menu
    *
    * Shows the Submenu an ProjectList Page
    *
    * Version 1.0.1 Build 27.8.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>

<div class="stage-sub-menu">

    <div class="{f:if(condition:'{submenu}==1',then:'item selected',else:'item')}">
        <div class="jqHandler jqShowAllProjects">
            show all
        </div>
    </div>
    <div class="{f:if(condition:'{submenu}==2',then:'item selected',else:'item')}">
        <div class="jqHandler jqHideSubProjects">
            hide Subs
        </div>
    </div>
    

    <div class="item right">
        <f:link.action action="projectNew" controller="Project">
            new Project
        </f:link.action>
    </div>
    <div class="item right">
        <f:link.action action="todoPdf" controller="Project" arguments="{todolist: todolist.uid}" >
            write pdf not work
        </f:link.action>
    </div>

</div>