{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}        

<vh:comment>
   /* Partial budgetList
    * 
    * This List shwos a single Budget via jQuery in the form
    * @param budgets
    * Version 1.0.1 Build 9.9.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>


<f:for each="{budgets}" as="item">

    <div class="general-list-row general-row-link jqLoadBudget">
        
        <div class="jqbudgetListUid hidden">{item.Uid}</div>
        
        
        
        
        <div class="listTodoTitle jqBudgetListTitle">
            {item.budgetTitle}
        </div>
        
        <div class="listTodoText jqBudgetListText">
            <f:format.crop maxCharacters="55" append="&nbsp;[...]">{item.budgetText}</f:format.crop>
        </div>
        
        <div class="listTodoTime jqBudgetListValue">
            {item.budgetValue} €
        </div>
        
        <div class="listTodoTime jqBudgetListTime">
            <vh:plantime time="{item.budgetTime}" /> h
        </div>
        <div class="listTodoTime jqBudgetListInvoice">
            {item.budgetInvoice}
        </div>
        
        
    </div>

</f:for>
