{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
    /**
    * Partial Project Edit Form
    * 
    * @param {project}
    * Used for Edit and New Action
    * Version 1.0.2 Build 6.7.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>
<br />
<div class="clear"></div>
<f:form method="post" controller="Project" action="projectUpdate" name="project" object="{project}"   >

    <div class="stageItemTable">

        <!--hidden fields -->

        <!-- regular Fields -->

        <div class="form-left">

            <div class="input-wrap">
                <label>Projekt-Titel:</label>
                <f:form.textfield property="projectTitle" value="{project.projectTitle}" class="left-large" />
            </div>

            <div class="input-wrap">
                <label>Unterprojekt von:</label>
                <vh:projectSelect projects="{projectSelect}" selected="{project.projectParent}" class="left-small"/>
            </div>

            <div class="input-wrap">
                <label>Kurztext:</label>
                <f:form.textarea  cols="45" rows="3" property="projectShort" value="{project.projectShort}" class="left-fullwidth" />
            </div>

            <div class="input-wrap">
                
                <f:form.textarea id="editor" cols="80" rows="10" property="projectText" value="{project.projectText}" class="heigh"/>
            </div>

        </div>

        <div class="form-right">

            <div class="input-wrap">
                <label>Status:</label>
                <f:form.select property="projectStatus" options="{status}" optionValueField="" optionLabelField="" class="right"/>
            </div>

            <div class="input-wrap">
                <label>Update:</label>
                <f:form.textfield  class="datepicker right" property="projectRevisionDate" value="{project.projectRevisionDate-> f:format.date( format: 'd.m.Y' )}" />
            </div>

            <div class="input-wrap">
                <label>Budget(h):</label>
                <f:form.textfield property="projectBudgetTime" value="{vh:plantime(time:project.projectBudgetTime)}" class="right small"/>
            </div>

            <div class="input-wrap">
                <label>Budget (€):</label>
                <f:form.textfield property="projectBudgetMoney" value="{project.projectBudgetMoney}" class="right small" />
            </div>
            
            <div class="input-wrap" style="height:202px;">
                <label></label>
                <f:form.textfield property="" class="right small"/>
            </div>

            <f:form.submit name="mySubmit" value="speichern" class="button form-button" />
        </div>






    </div>

 

</f:form>
<div class="clear"></div>
<br />
<br />