{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}

<div class="pat-list">
    <f:if condition="{sprints}">
        <f:then>
        <f:for each="{sprints}" as="sprint">
          
                <div class="pat-list-item clearfix ">
                    <f:link.action action="projectSprintEdit" arguments="{uid: project.uid, sprintId: sprint.sprint.uid}">
                    <b>{sprint.sprint.sprintTitel} </b>&nbsp;&nbsp;&nbsp;
                    </f:link.action>
                    start: <f:format.date format="d.m.Y">{sprint.sprint.sprintStart}</f:format.date>
                    end: <f:format.date format="d.m.Y">{sprint.sprint.sprintEnd}</f:format.date>
                </div>
              
                    
                    <f:for each="{sprint.tickets}" as="sprintticket" iteration="iter">
                        <div class="pat-list-item clearfix {f:if(condition: '{iter.isEven} == 1', then: ' even', else: ' odd')}">
                                <div class="pat-list-cell cell-first cell-50">
                                    {sprintticket.ticketNummer}
                                </div>

                                <div class="pat-list-cell cell-100">
                                    <f:format.date format="d.m.Y">{sprintticket.ticketDate}</f:format.date>
                                </div>
                            
                                <div class="pat-list-cell cell-100">
                                    {sprintticket.ticketTyp.statusText}
                                </div>
                                <div class="pat-list-cell cell-500">
                                    {sprintticket.ticketTitel}
                                </div>
                                <div class="pat-list-cell cell-100">
                                    Ticket owner
                                </div>
                                <div class="pat-list-cell cell-100">
                                    <f:format.date format="d.m.Y">{sprintticket.ticketScheduleDate}</f:format.date>
                                </div>
                                <div class="pat-list-cell cell-100">

                                    <vh:time time="{sprintticket.ticketScheduleTime}" />
                                </div>

                            </div>
                    </f:for>
               





        </f:for>
        </f:then>
        <f:else>
            <div class="pat-list-item clearfix ">
                No data found.
            </div>
        </f:else>
    </f:if>
   
</div>