{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
    /**
    * Partial Project Edit  New Form || The Form Tag in in main Template!
    * 
    * @param {project}
    * Used for Edit and New Action
    * Version 1.0.2 Build 6.7.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>

    <div class="stageItemTable">

        <!--hidden fields -->

        <!-- regular Fields -->

        <div class="form-left">

            <div class="input-wrap">
                <label>Projekt-Titel:</label>
                <f:form.textfield property="projectTitle" value="{project.projectTitle}" class="left-large" />
            </div>

            <div class="input-wrap">
                <label>Unterprojekt von:</label>
                <vh:projectSelect projects="{projectSelect}" selected="{project.projectParent}" class="left-small"/>
            </div>

            <div class="input-wrap">
                <label>Kurztext:</label>
                <f:form.textarea  cols="45" rows="3" property="projectShort" value="{project.projectShort}" class="left-fullwidth" />
            </div>

            <div class="input-wrap">
                
                <f:form.textarea id="editor" cols="80" rows="10" property="projectText" value="{project.projectText}" class="heigh"/>
            </div>

        </div>

        <div class="form-right">

            <div class="input-wrap">
                <label>Status:</label>
                <f:form.select property="projectStatus" options="{status}" optionValueField="" optionLabelField="" class="right"/>
            </div>

            <div class="input-wrap">
                <label>Start:</label>
                <f:form.textfield  class="datepicker right" property="projectStartDate" value="{project.projectStartDate-> f:format.date( format: 'd.m.Y' )}" />
            </div>
            
            <div class="input-wrap">
                <label>Deadline:</label>
                <f:form.textfield  class="datepicker right" property="projectEndDate" value="{project.projectEndDate-> f:format.date( format: 'd.m.Y' )}" />
            </div>

            <div class="input-wrap">
                <label>Budget(h):</label>
                <f:form.textfield property="projectBudgetTime" value="{vh:plantime(time:project.projectBudgetTime)}" class="right small"/>
            </div>

            <div class="input-wrap">
                <label>Budget (€):</label>
                <f:form.textfield property="projectBudgetMoney" value="{project.projectBudgetMoney}" class="right small" />
            </div>
            
            <div class="input-wrap">
                <label>Update:</label>
                <f:form.textfield  class="datepicker right" property="projectRevisionDate" value="{project.projectRevisionDate-> f:format.date( format: 'd.m.Y' )}" />
            </div>
            
            <div class="input-wrap" style="height:133px; width:206px;" >
                <label></label>
                &nbsp;
            </div>

            <f:form.submit name="mySubmit" value="speichern" class="button form-button" />
        </div>

</div>

 

