{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}
<div class="pat-stage-left">
    <div class="pat-stage-inside">

        <div class="pat-form-wrap">
            <label class="form-field field-100">Project Title</label>
            <f:form.textfield property="projectTitel" value="{project.projectTitel}" class="form-control field-600"/>
        </div>

        <div class="pat-form-wrap">
            <label class="form-field field-100">Category</label>
            <div class="styled-select field-600">
                <vh:selectoptgroup options="{cats}" fieldname="tx_projectsandtasks_pat[project][projectCat]" actual="{project.projectCat.uid}"/>
            </div>
        </div>

        <div class="pat-form-wrap">
            <label class="form-field w100">Shorttext</label>
            <f:form.textarea cols="50" rows="3" property="projectShort" value="{project.projectShort}" class="form-control field-height-100 field-600"/>
        </div>

        <div class="pat-form-wrap">
            <label class="form-field w100">Description</label>
            <f:form.textarea cols="50" rows="7" property="projectText" value="{project.projectText}" class="form-control field-height-200 field-600"/>
        </div>

    </div>
</div>

<div class="pat-stage-right">
    <div class="pat-stage-inside">
        
        <div class="pat-form-wrap">
            <label class="form-field w100">Owner</label>
            <div class="styled-select field-200">
            <f:form.select property="projectOwner" options="{user}" optionValueField="uid" optionLabelField="username" class="right" prependOptionLabel="-- Owner --"/>
            </div>
        </div>
        
        <div class="pat-form-wrap">
            <label class="form-field w100">Datum</label>
            <input type="date" name="tx_projectsandtasks_pat[project][projectDate]" class="datepicker form-control field-100"/>
        </div>

        <div class="pat-form-wrap">
            <label class="form-field w100">Client</label>
            <div class="styled-select field-200">
            <f:form.select property="projectClient" options="{clients}" optionValueField="uid" optionLabelField="cyName" class="right" prependOptionLabel="-- Client --"/>
            </div>
        </div>

        <div class="pat-form-wrap">
            <label class="form-field w100">Status</label>
            <div class="styled-select field-200">
            <f:form.select property="projectStatus" options="{status}" optionValueField="uid" optionLabelField="statusText" class="right"/>
        </div>
        </div>

        <div class="pat-form-wrap">&nbsp;</div>
        <div class="pat-form-wrap">
            <label class="form-field w100">&nbsp;</label>
        <f:form.submit value="save" class="btn"/>
        </div>

    </div>
</div>



