<f:form.hidden property="sprintProject" value="{project.uid}" />

<div class="col-md-7">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Ticket Title</label>
        <div class="col-sm-10">
             <f:form.textfield property="sprintTitel" value="{sprint.sprintTitel}" class="form-control" placeholder="Sprint Title"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Details</label>
        <div class="col-sm-10">
             <f:form.textarea cols="50" rows="10" property="sprintText" value="{sprint.sprintText}" class="form-control" />
        </div>
    </div>
    
</div>

<div class="col-md-1"></div>

<div class="col-md-4">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Start</label>
        <div class="col-sm-8">
            <input type="date" name="tx_projectsandtasks_pat[sprint][sprintStart]" value="{f:format.date(format : 'd-m-Y', date : sprint.sprintStart)}" class="datepicker form-control" data-date-format="dd-mm-yyyy"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">End</label>
        <div class="col-sm-8">
             <input type="date" name="tx_projectsandtasks_pat[sprint][sprintEnd]" value="{f:format.date(format : 'd-m-Y', date : sprint.sprintEnd)}" class="datepicker form-control" data-date-format="dd-mm-yyyy"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Status</label>
        <div class="col-sm-8">
            <f:form.select property="sprintStatus" options="{status}" value="sprintStatus" optionValueField="uid" optionLabelField="statusText" class="form-control"/>
        </div>
    </div>
    
     <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <f:form.submit value="   save    " class="btn btn-primary"/>
    </div>
    
</div>




