{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{project.projectTitel}</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <ul class="pull-left">

                        <f:link.action action="projectIndex" arguments="{uid: project.uid}">
                            <li class="panel-link{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </li>
                        </f:link.action>

                        <f:link.action action="projectDetail" arguments="{uid: project.uid}">
                            <li class="panel-link{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                                <span class="hidden-xs">&nbsp;Details</span>
                            </li>
                        </f:link.action>

                        <f:link.action action="projectMilestoneListAll" arguments="{uid: project.uid}">
                            <li class="panel-link{f:if(condition: '{mainmenu} == 3', then: ' active')}">
                                <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                                <span class="hidden-xs">&nbsp;Milestones</span>
                            </li>
                        </f:link.action>

                        <f:link.action action="projectTicketsOpen" arguments="{uid: project.uid}">
                            <li class="panel-link{f:if(condition: '{mainmenu} == 4', then: ' active')}">
                                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                                <span class="hidden-xs">&nbsp;Tickets</span>
                            </li>
                        </f:link.action>

                        <f:link.action action="projectSprintListOpen" arguments="{uid: project.uid}">
                            <li class="panel-link{f:if(condition: '{mainmenu} == 7', then: ' active')}">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                <span class="hidden-xs">&nbsp;Sprints</span>

                            </li>
                        </f:link.action>

                        <f:link.action action="projectDocumentIndex" arguments="{uid: project.uid}">
                            <li class="panel-link{f:if(condition: '{mainmenu} == 5', then: ' active')}">

                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                <span class="hidden-xs">&nbsp;Documents</span>

                            </li>
                        </f:link.action>

                        <f:link.action action="projectTeamList" arguments="{uid: project.uid}" >
                            <li class="panel-link{f:if(condition: '{mainmenu} == 8', then: ' active')}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span class="hidden-xs">&nbsp;Team</span>
                            </li>
                        </f:link.action>

                        <span class="hidden-sm hidden-md hidden-lg">
                            <f:link.action action="projectEdit" arguments="{uid: project.uid}">
                                <li class="panel-link">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </li>
                            </f:link.action>

                            <f:link.action action="allProjectsByCat">
                                <li class="panel-link">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>

                                </li>
                            </f:link.action>
                        </span>
                    </ul>

                    <ul class="pull-right hidden-xs">
                        <f:link.action action="projectEdit" arguments="{uid: project.uid}">
                            <li class="panel-link">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </li>
                        </f:link.action>

                        <f:link.action action="allProjectsByCat">
                            <li class="panel-link">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>

                            </li>
                        </f:link.action>
                    </ul>

                </div>

                <div class="panel-body">
                    
                    <div class="col-md-12">&nbsp;</div>
                    
                    <div class="col-md-7">
                        <f:format.nl2br>{project.projectShort}</f:format.nl2br>
                    </div>
                    
                    <div class="col-md-3"></div>
                    
                    <div class="col-md-2">
                        <f:security.ifHasRole role="pat-intern">
                        <div class="pull-right">
                            Budget Time: {project.projectBudgetTime} h<br />
                            Plan Open: <vh:time time="{projectHours.plan.open}"  /><br />
                            Worked Total: <vh:time time="{projectHours.work}"  />
                        </div>
                        <div class="clear"></div>
                        </f:security.ifHasRole>
                    </div>
                    
                    <div class="col-md-12">&nbsp;</div>
                </div>
            </div>
        </div>

    </div>
</div>