{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
    /* 
    * Partial ToDoListForm
    * This is the Form to Edit TodoLists!
    *
    * Version 1.0.1 Build 17.8.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>


<h2>Todo Liste editieren</h2><br />
<f:form method="post" controller="Project" action="todoListSave" name="todoList" object="{todoList}"   >

    <div class="stageItemTable">

        <!--hidden fields -->
        <f:form.textfield property="uid" value="{todolist.uid}" class="hidden jqTodoListFormUid" />
        <f:form.textfield property="todolistProject" value="{projectHeader.project.uid}" class="hidden" />

        <!-- regular Fields -->
        <div class="form-left" style="display: inline;">
            <div class="input-wrap">
                <label>ToDo List Titel:</label>
                <f:form.textfield property="todolistTitle" value="{todolist.todolistTitel}" class="left-fullwidth jqTodoListFormTitle" />
            </div>
            
            <br >

            <div class="input-wrap" style="height:92px;">
                <label>Beschreibung:</label>
                <f:form.textarea  cols="55" rows="4" property="todolistDescription" value="{todolist.todolistDescription}" class="left-fullwidth jqTodoListFormDescription"/>
            </div>
            <br />

            
        </div>
        <div class="form-right" style="display: inline;">

            <div class="input-wrap">
                <label>Status:</label>
                <f:form.select property="todolistStatus" value="{todolist.todolistStatus}"options="{status}" optionValueField="" optionLabelField="" class="jqTodoListFormStatus right" />
            </div> 

            <div class="input-wrap">
                <label>Owner:</label>
                <f:form.select property="todolistOwner" value="{todolist.todolistOwner}" options="{user}" optionValueField="uid" optionLabelField="username" class="jqTodoListFormOwner right"/>
            </div> 
            
             <div class="input-wrap" style="height:20px; width:206px;" >
                <label></label>
                &nbsp;
            </div>
             
            <f:form.submit name="delete" value="löschen" class="button form-button-small" />
            <f:form.submit name="mySubmit" value="speichern" class="button form-button" />
        </div>


    </div>
</f:form>

<br />