{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">

        <h2>Calender</h2>

        <div class="stage-navi clearfix" style="height: 1600px;">

            <div class="stage-navi-navi">
                <ul>
                    <li class="{f:if(condition: '{mainmenu} == 1', then: ' active')}">
                    <f:link.action action="allProjectsByCat">
                        Day
                    </f:link.action>
                    </li>
                    <li class="{f:if(condition: '{mainmenu} == 2', then: ' active')}">
                    <f:link.action action="allProjectsByNum">
                        Week
                    </f:link.action>
                    </li>

                    <li class="{f:if(condition: '{mainmenu} == 3', then: ' active')}">
                    <f:link.action action="allProjectsByArchive" arguments="{uid: project.uid}">
                        Month
                    </f:link.action>
                    </li>
                    <li class="active">
                        Today
                    </li>

                </ul>
                <ul class="right">
                    <li>
                    <f:link.action action="projectNew">
                        <f:image src="EXT:projects_and_tasks/Resources/Public/Images/icon_add.png" width="17" height="17" alt="new Project" />
                    </f:link.action>
                    </li>
                </ul>

            </div>


            <div class="pat-list">
                <br />
                
                <div class="calender-dayview-left">
                    <h3>Dates</h3>
                    <div class="calender-dayview-timeline">
                    
                    <div class="calender-dayview-hour">
                        8:00
                    </div>
                    <div class="calender-dayview-hour">
                        8:30
                    </div>
                    <div class="calender-dayview-hour">
                        9:00
                    </div>
                    <div class="calender-dayview-hour">
                        9:30
                    </div>
                    <div class="calender-dayview-hour">
                        10:00
                    </div>
                    <div class="calender-dayview-hour">
                        10:30
                    </div>
                    <div class="calender-dayview-hour">
                        11:00
                    </div>
                    <div class="calender-dayview-hour">
                         11:30
                    </div>
                    <div class="calender-dayview-hour">
                        12:00
                    </div>
                    <div class="calender-dayview-hour">
                        12:30
                    </div>
                    <div class="calender-dayview-hour">
                        13:00
                    </div>
                    <div class="calender-dayview-hour">
                        13:30
                    </div>
                    <div class="calender-dayview-hour">
                        14:00
                    </div>
                    <div class="calender-dayview-hour">
                        14:30
                    </div>
                    <div class="calender-dayview-hour">
                        15:00
                    </div>
                    <div class="calender-dayview-hour">
                        15:30
                    </div>
                    <div class="calender-dayview-hour">
                        16:00
                    </div>
                    <div class="calender-dayview-hour">
                        16:30
                    </div>
                    <div class="calender-dayview-hour">
                        17:00
                    </div>
                    <div class="calender-dayview-hour">
                        17:30
                    </div>
                    <div class="calender-dayview-hour">
                        18:00
                    </div>
                    <div class="calender-dayview-hour">
                        18:30
                    </div>
                    <div class="calender-dayview-hour">
                        19:00
                    </div>
                    <div class="calender-dayview-hour">
                        19:30
                    </div>
                    <div class="calender-dayview-hour">
                        20:00
                    </div>
                    <div class="calender-dayview-hour">
                        20:30
                    </div>
                    <div class="calender-dayview-hour">
                        21:00
                    </div>
                    <div class="calender-dayview-hour">
                        21:30
                    </div>
                    <div class="calender-dayview-hour">
                        22:00
                    </div>
                    </div>
                   
                    <f:for each="{notes}" as="note">
                        <div class="calender-dayview-date" style="top: {note.top}px; left: 100px;">
                            {note.ticket} {note.title} <vh:time time="{note.time}" />
                        </div>  
                    </f:for>
                    <!--
                    <div class="calender-dayview-date" style="top: 10px; left: 100px;">
                        Mein TErmin 155= 10 Uhr, 10= 8Uhr
                    </div>
                    -->
                    
                </div>
                <div class="calender-dayview-right">
                    <h3>Topics of the Day</h3>
                    <f:for each="{ticketsToday}" as="today" iteration="itertoday">
                        {today.ticketNummer} | {today.ticketTitel}<br />
                        {today.ticketProject.projectTitel}  
                        <vh:time time="{today.ticketScheduleTime}" />
                        <br /><br />
                    </f:for>
                    <br />
                    <h3>delayed tickets</h3><br />
                    <f:for each="{ticketsDelay}" as="delay" iteration="iterdelay">
                        {delay.ticketNummer} | {delay.ticketTitel}<br />
                        {delay.ticketProject.projectTitel}
                        <vh:time time="{today.ticketScheduleTime}" /><br /><br />
                    </f:for>
                </div>
                <!-- projects without Cat -->
                <f:for each="{projectsWithoutCat}" as="project" iteration="iterWO">
                    <f:link.action action="projectIndex" arguments="{uid: project.uid}">
                        <div class="pat-list-item clearfix {f:if(condition: '{iterWO.isEven} == 1', then: ' even', else: ' odd')}">
                            <div class="list-item project-no">
                                &nbsp;
                            </div>
                            <div class="list-item project-no">
                                {project.projectNumber}
                            </div>
                            <div class="list-item project-titel">
                                {project.projectTitel}
                            </div>
                            <div class="list-item project-date">
                                <f:format.date format="d.m.Y">{project.projectDate}</f:format.date>
                            </div>
                            <div class="list-item project-status">
                                {project.projectStatus.statusText}
                            </div>
                            <div class="list-item project-tickets">
                                {project.openTickets} Tickets open
                            </div>
                        </div>
                    </f:link.action>
                </f:for>
                <!-- Projects By Cat -->
                <f:for each="{projectsByCat}" as="catpro">
                    <div class="pat-list-item clearfix even">
                        <div class="list-item"><b>{catpro.cat.catParent.catTitle} {catpro.cat.catTitle}</b></div>
                    </div>

                    <f:for each="{catpro.pro}" as="mainpro" iteration="iter">
                        <f:link.action action="projectIndex" arguments="{uid: mainpro.uid}">
                            <div class="pat-list-item clearfix">
                                <div class="list-item project-no">
                                    &nbsp;
                                </div>
                                <div class="list-item project-no">
                                    {mainpro.projectNumber}
                                </div>
                                <div class="list-item project-titel">
                                    {mainpro.projectTitel}
                                </div>
                                <div class="list-item project-date">
                                    <f:format.date format="d.m.Y">{mainpro.projectDate}</f:format.date>
                                </div>
                                <div class="list-item project-status">
                                    {mainpro.projectStatus.statusText}
                                </div>
                                <div class="list-item project-tickets">
                                    {mainpro.openTickets} Tickets open
                                </div>
                            </div>
                        </f:link.action>
                    </f:for>

                    
                </f:for>
            </div>


        </div>
    </div><!-- end main Frame -->

</f:section>