{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    

    <div class="stage">
        
        <f:render partial="Calender/CalenderHeader" arguments="{_all}" />

        <!------------------------------------------------------------------------------>
        <br />
        <div class="stage-left-50">
            <h2>Termine</h2>
            <ul>
                <li>7:00</li>
                <li>7:15</li>
                   
            </ul>
            
        </div>
        
        <div class="stage-right-50">
            <h2>Notizen</h2>
            <p>Dies ist meine Tagesnotiz.<br />
                An irgend einer Stelle  muss ich hier das Datum auswählen.
            </p>
        </div>
        

    </div>

</f:section>