{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">


    <div id="pat">
        <div class="stage-header">

            <f:render partial="Project/ProjectHeader" arguments="{_all}" />

        </div>

        <div class="stage">
            <div class="project-stage-left">
                <h2>Leistungen</h2>
            </div>

            <div class="clear"></div>
            <br/>
            
            <!--The form -->
            <div class="form">
                <f:render partial="Work/LeistungenForm" arguments="{_all}" />
            </div>
            <br />
            
            <!-- The List -->
            <f:render partial="Work/SubMenuWork" arguments="{_all}" />
            <f:render partial="Work/LeistungenList" arguments="{works:works}" />

            <br /><br />
            <div class="project-stage-right">
                <div class="button jqShowForm">
                    Leistung hinzufügen
                </div>
            </div>


        </div>
        
    </div>

</f:section>