{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
   /* Message New
    * shows the List of all Messages and the create Form
    *
    * Version 1.0.1 Build 12.6.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>

<f:layout name="Default" />
<f:section name="main">


    <div id="pat">
        <div class="stage-header">
            <f:render partial="Project/ProjectHeader" arguments="{_all}" />
        </div>

        <div class="stage">
            <div class="project-stage-left">
                <h2>Nachrichten</h2>
                
            </div>
            <div class="project-stage-right">
                <div class="button jqShowForm">
                    ToDo hinzufügen
                </div>
            </div>

            <div class="clear"></div>
            <br/>


            <!--The form -->
            <div class="form">
                <f:render partial="Todos/TodoFormNew" arguments="{_all}" />
            </div>


            <!-- The List -->

            <f:link.action action="showPdf" controller="Todo" arguments="{todolist: todolist.uid}">
                >>pdf
            </f:link.action>
            <f:render partial="Todos/TodoList" arguments="{todos:todosAllFromList}" />

            <br />
            <div class="project-stage-left">
            </div>
            <div class="project-stage-right">
                <div class="button jqShowForm">
                    ToDo hinzufügen
                </div>
            </div>

        </div>



    </div>

</f:section>