{namespace vh=T3developer\ProjectsAndTasks\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <div class="pat-stage">
        
                <h2>open Tickets assigned to me</h2>
        
        
        <div class="stage-navi clearfix">
            <div class="stage-navi-navi">
                <f:render partial="Ticket/TicketHeader" arguments="{_all}"/>
               
            </div>
            
         <div class="pat-list">
            <br />
            <f:render partial="Ticket/TicketList" arguments="{_all}"/>
        </div>
         
        
</div><!-- end main Frame -->

 
</f:section>