{namespace vh = T3developer\ProjectsAndTasks\ViewHelpers}

<vh:comment>
   /* Partial Message Form
    * 
    *
    * Version 1.0.1 Build 12.6.2013 klaus.heuer@t3-developer.com
    */
</vh:comment>




<f:form method="post" controller="Message" action="messageCreate" name="message" object="{message}"   >

    <div class="stageItemTable">

        <!--hidden fields -->
        <f:form.textfield property="messageProject" value="{message.messageProject}" class="hidden" />
        

        <!-- regular Fields -->

        <div class="stageItemTableLabel">
            Titel
        </div>
        <div class="stageItemTableContent">
            <f:form.textfield property="messageTitle" value="{message.messageTitle}" class="fullWidth" />
        </div>
        <div class="stageItemTableDivider"></div>

        <div class="stageItemTableLabel">
            Text
        </div>
        <div class="stageItemTableContent">
            <f:form.textarea  cols="45" rows="3" property="messageText" value="{message.messageText}" />
        </div>
        <div class="stageItemTableDivider"></div>

        <div class="stageItemTableLabel">
            Status / Typ 
        </div>
        <div class="stageItemTableContent">
            <f:form.select property="messageStatus" options="{status}" optionValueField="" optionLabelField="" />
            
        </div>
        <div class="stageItemTableDivider"></div>



        <div class="stageItemTableLabel">
            Assigned Klaus: 4 / Zeitbedarf
        </div>
        <div class="stageItemTableContent">
            <f:form.select property="messageSender" options="{user}" optionValueField="uid" optionLabelField="username" />
                        
            
        </div>
        <div class="stageItemTableDivider"></div>

        <div class="stageItemTableLabel">
            Datum 
        </div>
        <div class="stageItemTableContent">
            <f:form.textfield  class="datepicker" property="messageDate" value="{message.messageDate}" />
            
        </div>
        <div class="stageItemTableDivider"></div>

    </div>




    <div class="formrow buttonrow">

        <input type="button"  class="button lightbox-close" value="abbrechen"  />
        <f:form.submit name="mySubmit" value="speichern" class="button" />

        <input type="button"  class="button lightbox-close" value="schließen"  />

    </div>
</f:form>
