<div class="panel panel-default">

    <div class="panel-heading clearfix">
        <div class="col-md-12">
            <h5>My Projects</h5>
        </div>
    </div>

    <div class="panel-body" style="margin-left:20px;">
        <br />
        <f:for each="{myProjects}" as="project">
            <div class="pat-form-wrap">
                <f:link.action action="projectIndex" controller="Project" arguments="{uid: project.uid}">
                    <p> {project.projectTitel} 
                </f:link.action>(leader)</p>
            </div>
        </f:for>
        <f:for each="{projectMemberships}" as="member">
            <div class="pat-form-wrap">
                <f:link.action action="projectIndex" controller="Project" arguments="{uid: member.ptProject.uid}">
                    <p>{member.ptProject.projectTitel}</p>
                </f:link.action>
            </div>
        </f:for>
        <br>
    </div>

</div>